<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" id="html">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Tier5 - Lead Generation</title>

	<!-- Bootstrap Core CSS -->
	 <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="{% static "css/plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="{% static "css/main.css" %}" />

</head>

<body>
		<div class="loader-bkgd hidden">
			<div class="loader"><img src="{% static "Icons/Lead Generation/ajax-loader.gif"%}"/></div>
		</div>
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<section>
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">

				<a class="navbar-brand" href="/lead_generation" id="logo">
					<img src="{% static "Icons/Base/tier5_logo.png" %}">
				</a><p id="leads_left" ></p>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="container">

				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="/lead_management" class="navbar-brand" id="LM-wrap">
							<img src="{% static "Icons/Base/leadManagement_tab.png" %}" class="nav-icons">
							<p id="LM">Lead Management</p>
						</a>
					</li>
					<li>
						<a class="navbar-brand" id="LG-wrap" href="/lead_generation">
							<img src="{% static "Icons/Base/leadGeneration_tab.png" %}" class="nav-icons">
							<p id="LG">Lead Generation</p>
						</a>
					</li>
					
					<li>
						<a class="navbar-brand" id="settings-wrap" href="/account">
							<img src="{% static "Icons/Base/settings_tab.png" %}" class="nav-icons">
							<p id="ss">Account</p>
						</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</section>
		<!-- /.container -->
	</nav>







	<!-- Page Content -->
	<div class="container">
		<br>
		<div class="row">
			<div class="col-sm-3 text-left">
				<form method="POST" name="test"> {% csrf_token %}
					<div class="panel-group" id="accordion">
						<div class="panel panel-default">
							<div class="panel-heading" id="top-container">
								<h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Company Size<img src= " {% static "Icons/Lead Generation/down_arrow.png" %}" id="company-size"><br></a>
                            </h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse">
								<div class="panel-body">
									<select name="company_size" class="form-control input-sm">
										<option>No Preference</option>
										<option>0-10 Employees</option>
										<option>11-50 Employees</option>
										<option>51-200 Employees</option>
										<option>201-1,000 Employees</option>
										<option>1,000-10,000 Employees</option>
										<option>10,000+ Employees</option>
									</select>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Location<img src= " {% static "Icons/Lead Generation/down_arrow.png" %}"  id="location-search"></a>
                            </h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse">
								<div class="panel-body">
									<input name="person__location__icontains" class="form-control input-sm" placeholder="San Francisco, Denver, etc">
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Revenue<img src= " {% static "Icons/Lead Generation/down_arrow.png" %}"  id="revenue-search"></a>
                            </h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse">
								<div class="panel-body">
									<select name="company_revenue" class="form-control input-sm">
										<option>No Preference</option>
										<option>$100K-$250K</option>
										<option>$250K-$1M</option>
										<option>$1M-$50M</option>
										<option>$50M-$100M</option>
										<option>$100M+</option>
									</select>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Funding<img src= " {% static "Icons/Lead Generation/down_arrow.png" %}"  id="funding"></a>
                            </h4>
							</div>
							<div id="collapseFour" class="panel-collapse collapse">
								<div class="panel-body">
									<select name="company_funding" class="form-control input-sm">
										<option>No Preference</option>
										<option>$100K-$250K</option>
										<option>$250K-$1M</option>
										<option>$1M-$50M</option>
										<option>$50M-$100M</option>
										<option>$100M-$500M</option>
										<option>$500M+</option>
									</select>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Company Name<img src= " {% static "Icons/Lead Generation/down_arrow.png" %}"  id="company-name"></a>
                            </h4>
							</div>
							<div id="collapseFive" class="panel-collapse collapse">
								<div class="panel-body">
									<input name="company__name__icontains" class="form-control input-sm">
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#" id="age-search">Age</a>
                                <input name="person__age__gte" class="row col-md-2 form-control input-sm" id="age-placeholder" placeholder="Min">

                                <input name="person__age__lte" class="row col-md-2 form-control input-sm" id="max-age-placeholder" placeholder="Max">
                            </h4>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Job Title<img src= " {% static "Icons/Lead Generation/down_arrow.png" %}"  id="job-title"></a>
                            </h4>
							</div>
							<div id="collapseSix" class="panel-collapse collapse">
								<div class="panel-body">
									<input id="q" name="job_title" class="form-control input-sm" type="text" placeholder="Founder" autocomplete="off">
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Interests<img src= " {% static "Icons/Lead Generation/down_arrow.png" %}"  id="interest-search"></a>
                            </h4>
							</div>
							<div id="collapseSeven" class="panel-collapse collapse">
								<div class="panel-body">
									<input readonly name="interests" class="form-control input-sm" placeholder="VC, Fashion, e-commerce,...">
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<button type="submit" id="generate-leads-btn" class="btn-lead-search">Search</button>
							</div>
						</div>
					</div>
					<!-- accordian -->
					
				</form>
			</div>


			<!--This is where all the leads will populate in the grid-->
			<div class="col-md-8" id="grid-pop">

				<div class="col-lg-12">
					<div class="panel">
						<div class="panel-heading">

							<!-- /.panel-heading -->
							<form method="POST"> {% csrf_token %}
								<!--<div class="panel-body" id="panel-id-tag">
									<div class="table-responsive" id="table-tag">
										<table class="table table-hover" id="dataTables-example">
											<thead>
												<tr>
													<th>
														<input type="checkbox" id="test1" name="export_all" />
														<label for="test1"></label>Full Name</th>
													<th>Age
														<img src="{% static "Icons/Lead Generation/arrows.png" %}" class="success-image">
													</th>
													<th>Email
														<img src="{% static "Icons/Lead Generation/arrows.png" %}" class="success-image">
													</th>
													<th>Twitter
														<img src="{% static "Icons/Lead Generation/arrows.png"  %}" class="success-image">
													</th>
													<th>LinkedIn
														<img src="{% static "Icons/Lead Generation/arrows.png" %}" class="success-image">
													</th>
												</tr>
											</thead>
											
											<tbody id="lead-gen-table">
												{% for search_result in search_results %}
												<tr class="even gradeC">
							<td>
								<input type="checkbox" id="test_{{search_result.id}}" name="checks" value="{{search_result.id}}" />
								
								<label for="test_{{search_result.id}}"></label>{{search_result.name}}</td>
							<td>{{search_result.age}}</td>
							<td>
								{% if search_result.email|length %}
								<img src="{% static "Icons/Lead Generation/success_icon.png" %}" class="success-icon">
								{% endif %}
							</td>

							<td>
								{% if search_result.personal_twitter|length %}
								<img src="{% static "Icons/Lead Generation/success_icon.png" %}" class="success-icon" />
								{% endif %}
							</td>

							<td>
								{% if search_result.personal_linkedin|length %}
								<img src="{% static "Icons/Lead Generation/success_icon.png" %}" class="success-icon" />
								{% endif %}	
							</td>


						</tr>

												{% endfor %}


											</tbody>
											
										</table>
										
									</div>
								</div>-->
																<div class="center-alert alert alert-danger alert-dismissible hidden" id="{{forloop.counter}}notEnoughEmails" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>OH NO!</strong> We seem to be having some trouble finding emails! We've put our e-minions on it! We will let you know when more emails have been found.</div>
								
								
								<div class="center-alert alert alert-warning alert-dismissible hidden" id="{{forloop.counter}}moreEmails" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Yay!</strong> We're still looking but it looks like we found {{query.emails_produced}} more emails! Transfer them now to Lead Management? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="{{forloop.counter}}newEmailsFound" name="totalEmails" value="{{query.id}}" ><label for="{{forloop.counter}}newEmailsFound" style="margin-bottom: 3px; margin-right:-3px;"></label><strong>Transfer  emails</strong></div>
								
								<div class="center-alert alert alert-success alert-dismissible hidden" id="{{forloop.counter}}totalEmails" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Awesome!</strong> We've found {{query.emails_produced}} more emails! Transfer them now to Lead Management? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="{{forloop.counter}}totalEmailsFound" name="totalNewEmails" value="{{query.id}}" ><label for="{{forloop.counter}}totalEmailsFound" style="margin-bottom: 3px; margin-right:-3px;"></label><strong>Transfer  emails</strong></div>
								
								{% if email_counter %}
								<div class="lead-number-container alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close" id="{{forloop.counter}}container"><span aria-hidden="true">&times;</span></button>
									<div class="row">
										<div class="container-fluid pf inline-block" id="{{forloop.counter}}">
											<input type="checkbox" class="lead-button" id="{{forloop.counter}}totalLeads1" name="totalLeads" value="{{query.id}}"><label for="{{forloop.counter}}totalLeads1" id="totalLeads"></label><div class="lead-number peeps-gen" id="{{forloop.counter}}leadnum">{{lead_counter}}<p class="lead-number-name1">Leads </p></div>
											<input type="checkbox" class="checkable" id="{{forloop.counter}}totalEmails1" name="totalEmails" value="{{query.id}}"><label for="{{forloop.counter}}totalEmails1" id="totalEmails"></label><div class="lead-number emails-gen" id="{{forloop.counter}}emailnum">{{email_counter}}<p class="lead-number-name1">Emails</p></div>
											<input type="checkbox" class="checkable" id="{{forloop.counter}}totalTwitter1" name="totalTwitter" value="{{query.id}}"><label for="{{forloop.counter}}totalTwitter1" id="totalTwitter"></label><div class="lead-number" >{{twitter_counter}}<p class="lead-number-name1">Twitter</p></div>
											<input type="checkbox" class="checkable" id="{{forloop.counter}}totalLinkedin1" name="totalLinkedin" value="{{query.id}}"><label for="{{forloop.counter}}totalLinkedin1" id="totalLinkedin"></label><div class="lead-number">{{linkedin_counter}}<p class="lead-number-name1">Linkedin</p></div>
										</div>
										<div class="sroq"><strong>Query Criteria:</strong>&nbsp;{{query.title}}</div>
										<div class="hidden" id="{{forloop.counter}}hcfqd">{{emails_produced}}</div>
									</div>
								</div>
{% endif %}

								{% for query in request.user.query_set.all  %}
								<div class="center-alert alert alert-danger alert-dismissible hidden" id="{{forloop.counter}}notEnoughEmails" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>OH NO!</strong> We seem to be having some trouble finding emails! We've put our e-minions on it! We will let you know when more emails have been found.</div>
								
								
								<div class="center-alert alert alert-warning alert-dismissible hidden" id="{{forloop.counter}}moreEmails" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Yay!</strong> We're still looking but it looks like we found {{query.emails_produced}} more emails! Transfer them now to Lead Management? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="{{forloop.counter}}newEmailsFound" name="totalEmails" value="{{query.id}}" ><label for="{{forloop.counter}}newEmailsFound" style="margin-bottom: 3px; margin-right:-3px;"></label><strong>Transfer  emails</strong></div>
								
								<div class="center-alert alert alert-success alert-dismissible hidden" id="{{forloop.counter}}totalEmails" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Awesome!</strong> We've found {{query.emails_produced}} more emails! Transfer them now to Lead Management? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="{{forloop.counter}}totalEmailsFound" name="totalNewEmails" value="{{query.id}}" ><label for="{{forloop.counter}}totalEmailsFound" style="margin-bottom: 3px; margin-right:-3px;"></label><strong>Transfer  emails</strong></div>
								
								
								<div class="lead-number-container alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close" id="{{forloop.counter}}container"><span aria-hidden="true">&times;</span></button>
									<div class="row">
										<div class="container-fluid pf inline-block" id="{{forloop.counter}}">
											<input type="checkbox" class="lead-button" id="{{forloop.counter}}totalLeads1" name="totalLeads" value="{{query.id}}"><label for="{{forloop.counter}}totalLeads1" id="totalLeads"></label><div class="lead-number peeps-gen" id="{{forloop.counter}}leadnum">{{query.people_generated}}<p class="lead-number-name1">Leads </p></div>
											<input type="checkbox" class="checkable" id="{{forloop.counter}}totalEmails1" name="totalEmails" value="{{query.id}}"><label for="{{forloop.counter}}totalEmails1" id="totalEmails"></label><div class="lead-number emails-gen" id="{{forloop.counter}}emailnum">{{query.email_counter}}<p class="lead-number-name1">Emails</p></div>
											<input type="checkbox" class="checkable" id="{{forloop.counter}}totalTwitter1" name="totalTwitter" value="{{query.id}}"><label for="{{forloop.counter}}totalTwitter1" id="totalTwitter"></label><div class="lead-number" >{{query.twitter_counter}}<p class="lead-number-name1">Twitter</p></div>
											<input type="checkbox" class="checkable" id="{{forloop.counter}}totalLinkedin1" name="totalLinkedin" value="{{query.id}}"><label for="{{forloop.counter}}totalLinkedin1" id="totalLinkedin"></label><div class="lead-number">{{query.linkedin_counter}}<p class="lead-number-name1">Linkedin</p></div>
										</div>
										<div class="sroq"><strong>Query Criteria:</strong>&nbsp;{{query.title}}</div>
										<div class="hidden" id="{{forloop.counter}}hcfqd">{{query.emails_produced}}</div>
									</div>
								</div>
								{% endfor %}
								
								
								<div id="download-lead-container">
									<button name="import" class="btn-none bottomRight" id="download-button">
										<img src="{% static "Icons/Lead Completion/Download.png" %}" id="download-icon">
										<br>
										<div class="text-center" id="download-leads-text">&nbsp;Transfer
										<br>Leads</div>
									</button>
								</div>
							</form>
							
						<!-- /.panel-body -->
						</div>
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-12 -->


			</div>








			<!--Download leads-->
							
					
			<!--End Download Leads-->







		</div>
	</div>





	<!-- /.row -->


	<!-- /.container -->

	<!-- jQuery Version 1.11.1 -->
	<script src="{% static "js/jquery.js" %}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<!-- DataTables JavaScript -->
	<script src="{% static "js/plugins/dataTables/jquery.dataTables.js" %}">
	</script>
	<script src=" {% static  "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>

</body>

</html>
<script type="text/javascript">

 function checkboxes()
      {
var inputElems = document.getElementsByTagName("input"),
count = 0;
for (var i=0; i<inputElems.length; i++) {
if (inputElems[i].type === "checkbox" && inputElems[i].checked === true) 
{
    count++;


}
document.getElementById("leads_left").innerHTML = {{leads_left}} - count;
}}

</script>
<script>
	var id;
	$(document).ready(function(){
		
		$(".checkable").click(function(){
			id = parseInt($(this).attr("id"));
			if(document.getElementById(id+"totalEmails1").checked && document.getElementById(id+"totalTwitter1").checked && document.getElementById(id+"totalLinkedin1").checked){
				if(!$("#"+id+"totalLeads1").checked){$("#"+id+"totalLeads1").prop("checked",true);}
				else{$("#"+id+"totalLeads1").prop("checked",false);}
				$("#"+id+"totalEmails1").prop("checked", false);
				$("#"+id+"totalTwitter1").prop("checked", false);
				$("#"+id+"totalLinkedin1").prop("checked", false);
			}else{
				$("#"+id+"totalLeads1").prop("checked",false);
			}
		});
		$(".lead-button").click(function(){
			id = parseInt($(this).attr("id"));
			if(this.checked){
			$("#"+id+"totalEmails1").prop("checked",false);
			$("#"+id+"totalTwitter1").prop("checked",false);
			$("#"+id+"totalLinkedin1").prop("checked",false);
			}
			
		});
	});
	
</script>

<!--this is the alert function for 60% of people have emails-->
<script>
	
		$(".pf").hover(function(){
		var id = parseInt($(this).attr("id"));
		var leadnum= parseInt($("#"+id+"leadnum").text());
		var emailnum= parseInt($("#"+id+"emailnum").text());
		var ratio = (emailnum/leadnum);
		var query = parseInt($("#"+id+"hcfqd").text());
		var sum = (query+emailnum);
		var newRatio = (sum/leadnum);
			
			if(ratio < 0.6){
				$("#"+id+"notEnoughEmails").removeClass("hidden");
			}	
			if(query>0){
				$("#"+id+"moreEmails").removeClass("hidden");
				if(query>10){
					$("#"+id+"moreEmails").removeClass("hidden");
					$("#"+id+"notEnoughEmails").addClass("hidden");
				}
			}	
			if((newRatio)>=0.9){
				$("#"+id+"moreEmails").addClass("hidden");
				$("#"+id+"totalEmails").removeClass("hidden");
			}
		});
	
		$("#generate-leads-btn").click(function(){
			$(".loader-bkgd").removeClass("hidden").fadeIn();
		});
		$(".navbar-brand").click(function(){
			$(".loader-bkgd").removeClass("hidden").fadeIn();
		});
		$("#download-lead-container").click(function(){
			$(".loader-bkgd").removeClass("hidden").fadeIn();
		});

		$(".lead-number-container > .close").click(function(){
			var id =parseInt($(this).attr("id"));
			$("#"+id+"notEnoughEmails").remove();
			$("#"+id+"moreEmails").remove();
			$("#"+id+"totalEmails").remove();
		});
</script>
<script>
	$(document).ready(function () {
		$('#dataTables-example').dataTable({
			bFilter: false
		});
	});
	/*  $(function () {
        // Remove Search if user Resets Form or hits Escape!
        $('body, .navbar-collapse form[role="search"] button[type="reset"]').on('click keyup', function(event) {
            console.log(event.currentTarget);
            if (event.which == 27 && $('.navbar-collapse form[role="search"]').hasClass('active') ||
                $(event.currentTarget).attr('type') == 'reset') {
                closeSearch();
            }
        });

        function closeSearch() {
            var $form = $('.navbar-collapse form[role="search"].active')
            $form.find('input').val('');
            $form.removeClass('active');
        }

        // Show Search if form is not active // event.preventDefault() is important, this prevents the form from submitting
        $(document).on('click', '.navbar-collapse form[role="search"]:not(.active) button[type="submit"]', function(event) {
            event.preventDefault();
            var $form = $(this).closest('form'),
                $input = $form.find('input');
            $form.addClass('active');
            $input.focus();

        });
        // ONLY FOR DEMO // Please use $('form').submit(function(event)) to track from submission
        // if your form is ajax remember to call `closeSearch()` to close the search container
        $(document).on('click', '.navbar-collapse form[role="search"].active button[type="submit"]', function(event) {
            event.preventDefault();
            var $form = $(this).closest('form'),
                $input = $form.find('input');
            $('#showSearchTerm').text($input.val());
            closeSearch()
        });
    });*/
</script>
