<header class="header black-bg">

			<!--logo start-->
			<a href="/legion/dashboard" class="logo"><b>Legion</b> Analytics</a>
			
			<!--logo end-->
		</header>
		<!--header end-->
		<!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
		<!--sidebar start-->
		<aside>
			
			<div id="sidebar" class="nav-collapse" >
				<!-- sidebar menu start-->
				<ul class="sidebar-menu" id="nav-accordion" style="display: block !important;">
					<br>
					<br>
					<br>


					<li class="mt">
						<a href="/legion/dashboard">
							<i class="fa fa-dashboard"></i>
							<span>Dashboard</span>
						</a>
					</li>

					<li class="sub-menu">

						<a href="javascript:;">
							<i class="glyphicon glyphicon-th" aria-hidden="true"></i>
							<span>Subscribers <i class="fa fa-caret-down" id="adjust-caret"></i></span>
						</a>
						<ul class="sub">
							<li><a href="/legion/cards">View All</a>
							</li>
							<li><a href="/legion/influencers">Top Ten Influencers</a>
							</li>
							<!-- <li><a href="/mailchimp">MailChimp Insights</a>
							</li> -->
						</ul>


					</li>
					<li>
						<a href="/legion/followers">
							<i class="fa fa-twitter"></i>
							<span>Twitter Converter</span>
						</a>
					</li>
 

				
					<li>
						<a href="/legion/trash">
							<i class="glyphicon glyphicon-trash"></i>
							<span>Trash</span>
						</a>
					</li>
					
					<li>
						<a href="/legion/my_account">
							<i class="fa fa-gear"></i>
							<span>Account</span>
						</a>
					</li>
					
					<li>
						<a href="/legion/logout">
							<i class="glyphicon glyphicon-home"></i>
							<span>Log Out</span>
						</a>
					</li>

				</ul>
				<!-- sidebar menu end-->
			</div>
		</aside>