@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html {
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	padding-top: 70px;
}

p {
	font-family: 'Open Sans', sans-serif;
}

#logo {
	height: 80%;
}

#logo img {
	display: inline-block;
	height: 50px;
	margin-top: 5px;
}

.nav-icons {
	display: inline-block;
	height: 50px;
	margin: 0 10px 15px 0;
	padding-bottom: 10px;
}

#lead-gen-table {
	background-color: #f8f8f8;
	font-size: 20px;
	overflow: auto;
}

.success-icon {
	display: inline;
	height: 35px;
}

#download-leads {
	display: inline-block;
	float: right;
}

#download-button {
	position: fixed;
	bottom: 30px;
	right: 40px;
}

#download-icon {
	height: 40px;
}

#download-leads-text {
	width: 100%;
	font-size: 1.3em;
	color: #AAAAAA;
	font-family: Avenir;
	text-align: center;
}
}
#accordion {
	margin-top: 30px;
}
#company-size {
	display: inline;
	height: 14px;
	margin-left: 2px;
	margin-top: -8px;
}
#location-search {
	display: inline;
	height: 14px;
	margin-left: 2px;
	margin-top: -8px;
}
#revenue-search {
	display: inline;
	height: 14px;
	margin-left: 2px;
	margin-top: -8px;
}
#funding {
	display: inline;
	height: 14px;
	margin-left: 2px;
	margin-top: -8px;
}
#company-name {
	display: inline;
	height: 14px;
	margin-left: 2px;
	margin-top: -8px;
}
#age-search {
	float: left;
	margin-right: 10px;
}
#age-placeholder {
	display: inline;
	width: 50px;
	margin-left: 0px;
	height: 1.5em;
}
#max-age-placeholder {
	display: inline;
	width: 50px;
	margin-left: 30px;
	height: 1.5em;
}
#job-title {
	display: inline;
	height: 14px;
	margin-left: 2px;
	margin-top: -8px;
}
#interest-search {
	display: inline;
	height: 14px;
	margin-left: 2px;
	margin-top: -8px;
}
#history_name {
	font-size: 14px;
}
#grid-pop {
	height: auto;
}
#dataTables-example {
	overflow: scroll;
}
#table-tag {
	overflow-x: hidden;
}
#panel-id-tag {
	overflow: scroll;
}
#html {
	overflow-x: hidden;
}
.success-image {
	display: inline;
	height: 13px;
	overflow: auto;
}
#LG-wrap {
	position: relative;
}
#LG {
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 20px;
	color: #393A3C;
	font-size: 12px;
	background: #fff;
	height: 25px;
	width: 100px;
	padding: 3px 3px 5px 3px;
	border-radius: 5px;
	visibility: hidden;
	opacity: 0;
}
#LG-wrap:hover #LG {
	visibility: visible;
	opacity: 1;
}
#LC-wrap {
	position: relative;
}
#LC {
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 20px;
	color: #393A3C;
	font-size: 12px;
	background: #fff;
	height: 25px;
	width: 100px;
	padding: 3px 3px 5px 3px;
	border-radius: 5px;
	visibility: hidden;
	opacity: 0;
}
#LC-wrap:hover #LC {
	visibility: visible;
	opacity: 1;
}
#settings-wrap {
	position: relative;
}
#ss {
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 20px;
	color: #393A3C;
	font-size: 12px;
	background: #fff;
	height: 25px;
	width: 55px;
	padding: 3px 3px 5px 3px;
	border-radius: 5px;
	visibility: hidden;
	opacity: 0;
}
#settings-wrap:hover #ss {
	visibility: visible;
	opacity: 1;
}
#LM-wrap {
	position: relative;
}
#LM {
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 20px;
	color: #393A3C;
	font-size: 12px;
	background: #fff;
	height: 25px;
	width: 115px;
	padding: 3px 3px 5px 3px;
	border-radius: 5px;
	visibility: hidden;
	opacity: 0;
}
#LM-wrap:hover #LM {
	visibility: visible;
	opacity: 1;
}
#arrow-container {
	margin-left: -50px;
	margin-top: 3%;
}
#arrow-onclick {
	display: inline;
	height: 40px;
	margin-left: 15px;
	cursor: pointer;
}
#upload-leads-arrow {
	width: 27%;
	font-size: 1.3em;
	color: #AAAAAA;
	font-family: Avenir;
	cursor: pointer;
}
#arrow-picture {
	display: inline;
	margin-left: -20px;
	margin-top: -30px;
}
div.upload {
	width: 100px;
	height: 36px;
	background: url(http://megaicons.net/static/img/icons_sizes/8/60/256/basic-upload-icon.png);
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	margin: 0 0 0 25px;
	overflow: hidden;
}
div.upload input {
	display: block !important;
	width: 157px !important;
	height: 57px !important;
	opacity: 0 !important;
	overflow: hidden !important;
}
form p {
	margin: 5px 0 0 20px;
}
.data-filled {
	overflow: scroll;
	overflow-x: hidden;
	font-size: .5em;
	text-align-last: left;
}
.data-header {
	font-size: .5em;
	display: inline-block;
	overflow: auto;
}
.team-member-data {
	border-bottom: #c5c5c5 solid 1px;
	border-right: #c5c5c5 solid 1px;
	height: 230px;
	width: 220px;
	margin: 30px 50px;
	background-color: #f8f8f8;
}
#team-member-c0 {
	margin-right: 20px;
}
.overflow-table {
	overflow: scroll;
	overflow-x: hidden;
	background-color: #fff;
	box-shadow: 1px 1px 2px 0px #c5c5c5;
}
.more-teamMembers {
	position: absolute;
	right: 10px;
	top: 295px;
	font-size: 12px;
	font-weight: 400;
}
.teamMember1 {
	padding: 5px 0 5px 15px;
	display: inline-block;
}
.teamMember1 span {
	font-family: sans-serif;
	font-size: 1em;
	color: #959595;
}
.teamMember1-TM span {
	font-family: sans-serif;
	font-size: 1em;
	color: #959595;
	text-align: center;
}
.leads-this-month {
	font-family: sans-serif;
	font-size: 1.2em;
	color: #959595;
	margin: 10px 0 0 45px;
}
#avg-conv-lead {
	font-family: sans-serif;
	font-size: 1.2em;
	color: #959595;
	margin: 0 0 0 40px;
}
.numLeads {
	font-family: sans-serif;
	font-size: 2em;
	color: #cd6562;
	text-align: center;
}
#numDays {
	font-family: sans-serif;
	font-size: 2em;
	color: #cd6562;
	margin: 0 0 0 50px;
}
.top-perf-search {
	font-family: sans-serif;
	font-size: 1.2em;
	color: #959595;
	margin: 0 0 0 25px;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
.profile-photo {
	border-radius: 100%;
	height: 30px;
	width: 30px;
	margin: 5px -5px 5px 10px;
	display: inline-block;
}
.card-top-border {
	border-bottom: #efefef solid 2px;
}
#team-member-cards {
	font-family: "arial", sans-serif;
	color: #393A3C;
	position: relative;
	top: 20px;
	left: 15px;
	font-size: 1.2em;
	margin: 10px;
	text-decoration: underline;
}
#choices {}
#export {
	margin: 0 0 10px 40px;
	border-radius: 10px;
	height: 50px;
	width: 100px;
	font-family: Courier New;
	color: #ffffff;
	font-size: 11px;
	background: #cd6562;
	padding: 2px 10px 2px 10px;
	text-decoration: none;
}
#export:hover {
	background: #dc8582;
	text-decoration: none;
}
#team-member-info-card {
	background-color: #efefef;
	width: 100%;
	height: 200px;
}
#TM {
	height: 100px;
	background-color: white;
	height: inherit;
}
#tm-photo {
	height: 100px;
	width: 100px;
	background-color: #ececec;
	position: relative;
	margin: 50px 0 0 0;
	border-radius: 100%;
}
#info-1 {
	display: inline-block;
}
#info-2 {
	display: inline-block;
	overflow-x: visible;
}
#name-info {
	width: 100px;
	position: relative;
	top: 70px;
	color: #393A3C;
	margin-left: 2px;
}
#last-login-info {
	width: 100px;
	position: relative;
	top: 60px;
	color: #959595;
	font-size: 8px;
	margin-left: 2px;
}
#next-btn {
	margin: 50px 0 0 0;
	width: 70px;
	border-bottom: 1px #c5c5c5 solid;
	border-right: 1px #c5c5c5 solid;
	background-color: #f8f8f8;
	text-align: center;
	color: #393A3C;
}
.scroll-box {
	width: 150px;
	display: inline-block;
}
#scroll-history {
	background-color: #efefef;
	width: 100%;
	height: 130px;
	display: inline-block;
	overflow-x: scroll;
	overflow-y: hidden;
}
#recent-history-tag {
	margin-left: 50px;
	background-color: #efefef;
}
#history_timeStamp {
	color: #959595;
}
.leads-per-month {
	background-color: #f8f8f8;
	border-bottom: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	height: 120px;
	width: 200px;
	position: relative;
	top: 40px;
	left: 20px;
	margin: 0 0 0 25px;
}
.card-top-border-info-page {
	border-bottom: #efefef solid 2px;
	width: 200px;
	position: relative;
	left: -16px;
}
.TM-numLeads {
	font-family: sans-serif;
	font-size: 3em;
	color: #cd6562;
	text-align: center;
	margin: 10px 0;
}
.teamMember1-TM {
	padding: 5px 0 5px 40px;
	display: inline-block;
}
.all-time {
	position: relative;
	left: 10px;
}
.close-teamMembers {
	position: fixed;
	right: 115px;
	bottom: 0px;
	font-size: 12px;
	font-weight: 400;
}
#settings-content-base {
	margin-bottom: 40px;
	height: 500px;
	border: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
	background-color: #f8f8f8;
	padding: 0;
}
#account-nav {
	height: 100%;
	border-right: solid 1px #c5c5c5;
	padding: 0;
}
.accountNav-links {
	text-align: center;
	border-bottom: solid 1px #c5c5c5;
	font-family: Arial, sans-serif;
	font-size: 12px;
	padding: 5px 0 5px 0;
	color: #959595;
}
.accountNav-links:hover {
	text-align: center;
	border-bottom: solid 1px #c5c5c5;
	font-family: Arial, sans-serif;
	font-size: 12px;
	padding: 5px 0 5px 0;
	color: #959595;
	background-color: #ececec;
}
#account-content {
	height: 100%;
	padding: 40px 10px 10px 10px;
	margin-left: 20px;
}
.account-headers {
	color: #959595;
}
#email-address {
	margin: 10px 0 10px 0;
	color: #393A3C;
}
.account-info-submit {
	margin: 0;
}
.account-active {
	background-color: #ececec;
}
#linkedin-btn {
	width: 200px;
	margin-top: 20px;
}
#google-btn {
	width: 200px;
	margin-top: 20px;
}
#add-tm {
	width: 200px;
	height: 20px;
	color: #393A3C;
	margin: 10px 0 10px 0;
}
#leadLimitHelper {
	margin: 0 0 5px 0;
}
#newName {
	margin-top: 15px;
}
.addTeamMemberVisible {
	visibility: visible;
}
#manage-team-nav {
	height: 100%;
	border-right: solid 1px #c5c5c5;
	padding: 0;
}
.squaredFour {
	display: inline-block;
}
.squaredFourDesc {
	margin: -22px 0 10px 20px;
	color: #393A3C;
}
.remove-tm-selection {
	margin: 20px 0 0 0;
}
.form-border {
	border-bottom: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	overflow-y: auto;
	height: 200px;
}
.form-border:active {
	border-bottom: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	overflow-y: auto;
	height: 100px;
}
#delete-btn {
	color: #393A3C;
	background-color: #dc8582;
	border: 1px solid #cd6562;
	font-weight: 200;
	margin: 20px 0 0 0;
}
#delete-btn:hover {
	color: #393A3C;
	background-color: #cd6562;
	border: 1px solid #dc8582;
	font-weight: 200;
	margin: 20px 0 0 0;
}
.modify-button {
	display: inline-block;
	margin: 20px 0 0 0;
}
#bad-button:hover {
	display: inline-block;
	margin: 20px 0 0 0;
	background-color: #cd6562;
}
#good-button:hover {
	display: inline-block;
	margin: 20px 0 0 0;
	background-color: #aec79f;
}
#view-more-invisible {
	visibility: hidden;
}
#more-team-members {}
#upload-icon-lead-completion {
	cursor: pointer;
}
#special-upload {
	cursor: pointer;
}
#upload-pic-icon {
	width: 57px;
	height: 57px;
	cursor: pointer;
	margin: -70px 0 0 25px;
	overflow: hidden;
	z-index: 1;
}
#pointer {
	cursor: pointer;
}
#lead-management-table {
	background-color: #f8f8f8;
	font-size: 20px;
	overflow: auto;
}
.pop-up-profile-photo {
	border-radius: 100%;
	height: 100px;
	width: 100px;
	margin: 5px -5px 5px 10px;
	display: inline-block;
}
.fb-popUp-icon {
	display: inline-block;
	height: 20px;
	width: 20px;
	position: relative;
	margin: -10px 0 0 20px;
}
.inline-block {
	display: inline-block;
}
.tw-popUp-icon {
	display: inline-block;
	height: 20px;
	width: 20px;
	position: relative;
	margin: -10px 0 0 -5px;
}
.lin-popUp-icon {
	display: inline-block;
	height: 20px;
	width: 20px;
	position: relative;
	margin: -10px 0 0 -4px;
}
.popUp-description {
	font-size: 12px;
	color: #393A3C;
	font-weight: 200;
	margin: -10px 0 10px 20px;
}
.pop-up-signal {
	height: 20px;
	width: 20px;
	margin: 0 0 5px 10px;
}
.pop-up-header {
	font-size: 14px;
	font-weight: 500;
	color: #959595;
	display: inline-block;
}
#myModalLabel {
	color: #393A3C;
}
.pop-up-topic-icon {
	height: 20px;
	width: 20px;
	margin: 5px 0 5px 0;
	display: inline;
}
.pop-up-trend-box {
	width: 200px;
	height: 50px;
	background-color: #fff;
	border-bottom: 1px solid #ececec;
	border-right: 1px solid #ececec;
	margin: 30px 0 0 35px;
	padding: 5px;
	overflow: auto;
}
.trend-topics {
	margin: 0;
	font-size: .7em;
	color: #393A3C;
	overflow-y: scroll;
	padding: 2px 10px 2px 5px;
}
.tw-analysis-header {
	margin-bottom: -25px;
}
.trend-topics a {
	color: #cd6562;
}
.trend-topics a:hover {
	color: #cd6562;
	text-decoration: underline;
}
.pop-up-note-box {
	width: 200px;
	height: 50px;
	background-color: #fff;
	border-bottom: 1px solid #ececec;
	border-right: 1px solid #ececec;
	margin-top: -7px;
	margin-left: 35px;
	overflow: auto;
}
.pop-up-lead-profile {
	display: block;
	font-family: arial, sans-serif;
	font-size: 10px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border-top: none;
	border-left: none;
	background-color: #fff;
	border-bottom: 1px solid #ececec;
	border-right: 1px solid #ececec;
	width: 200px;
	height: 25px;
	margin: 15px 0 0 35px;
	padding: 10px;
}
.pop-up-lead-profile {
	outline: none;
}
.time-stamp {
	color: #cd6562;
	font-size: 8px;
	position: relative;
	margin: 0 0 10px 40px;
	padding: 0 0 15px 0;
	;
}
.messages {
	height: 200px;
	overflow: auto;
	padding-top: 10px;
	margin-top: -15px;
}
#twit-analysis-container {
	margin-top: -150px;
}
#media-articles {
	margin-left: -15px;
}
.news-articles {
	font-size: .7em;
	margin-left: 10px;
	color: #393A3C;
	text-decoration: underline;
}
.news-article-container {
	margin-left: -24px;
	padding-left: 0;
	height: 60px;
	overflow-y: scroll;
}
#paddingLeft {
	padding: 0 0 0 60px;
}
#signInCenter {
	margin: 80px;
}
.center {
	margin: -25px 0 0 102px;
	position: relative;
}
.center-alert {
	margin-left: 100px;
}
#center {
	margin: 0 0 20px 160px;
}
#newAccountText {
	font-size: .8em;
	text-align: center;
	margin-left: -10px;
}
#signUpFormCard {
	height: 80vh;
	background-color: #f8f8f8;
	border-bottom: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	overflow-y: hidden;
}
#signUpFormContainer {
	height: 70vh;
	position: relative;
	top: 40px;
}
#confirmBox {
	width: 300px;
	margin-left: 20px;
}
#btn-margin-top {
	margin: 15px 0 0 140px;
}
#centerForm {
	position: relative;
	top: 150px;
}
.center-text {
	text-align: center;
}
#logoSignUp {
	height: 50px;
	width: 50px;
	position: relative;
	top: 125px;
	left: 145px;
}
.borderSpace {
	margin: 20px;
}
#logoRegistration {
	height: 50px;
	width: 50px;
	position: relative;
	left: 145px;
}
#centerFormRegister {
	position: relative;
}
#btn-1-3 {
	margin-left: 140px;
}
#btn-2-3 {
	margin-left: 140px;
}
.cbox {
	width: 300px;
	margin-left: 20px;
}
#social-links-register {
	margin: 20px 0;
}
#btn-3-3 {
	margin: 0;
}
.btn-invisible {
	color: #393A3C;
	background-color: rgba(255, 255, 255, 1);
	border-color: rgba(255, 255, 255, 1);
}
.helperText {
	font-size: .7em;
	margin: 0 0 10px 0;
}
.signal-image {
	display: inline;
	height: 25px;
	overflow: auto;
}
.invisible-rating {
	display: none;
}
.bigRound {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	margin-right: 10px;
}
.smallRound {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	margin-right: 10px;
}
.signal-image-small {
	display: inline;
	height: 15px;
	overflow: auto;
}
.neutral {
	margin: 0;
}
.id-card {
	margin: 20px 10px 0 10px;
	min-height: 230px;
	min-width: 230px;
	max-height: 230px;
	max-width: 230px;
	background-color: #f8f8f8;
	display: inline-block;
	box-sizing: border-box;
	border-bottom: 1px solid #c5c5c5;
}
.id-card:hover {
	background-color: #e5e5e5;
}
.black:hover {
	background-color: rgba(0, 0, 0, .2)
}
.four-signal {
	border-top: 10px solid #8195b1;
	/*This is for 4 signal strength*/
}
.three-signal {
	border-top: 10px solid #aec79f;
	/*This is for 3 signal strength*/
}
.two-signal {
	border-top: 10px solid #fff8b7;
	/*This is for 2 signal strength*/
}
.one-signal {
	border-top: 10px solid #dc8582;
	/*This is for 1 signal strength*/
}
.profile-pic {
	width: 70px;
	height: 70px;
	margin: 10px 75px 10px 80px;
	border-radius: 100%;
	background-color: #f8f8f8;
	background-image: url(http://newton.physics.uiowa.edu/~sbaalrud/empty_profile.gif);
	background-size: cover;
}
.lead-name {
	font-family: "Times New Roman", serif;
	font-size: 16px;
	position: relative;
	text-align: center;
	margin-left: 0px;
}
.lead-body {
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 100;
	text-align: center;
	margin: 5px;
	font-size: .8em;
	overflow: hidden;
	height: 35px;
	max-width: 220px;
}
.lead-body span {
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 100;
	text-align: center;
	margin: 5px;
	font-size: .8em;
	overflow: hidden;
	height: 35px;
	max-width: 220px;
}
.lead-body-ex span {
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 200;
	text-align: center;
	margin: 5px;
	font-size: .8em;
	overflow: hidden;
	max-height: 35px;
	max-width: 220px;
	position: relative;
	top: 5px;
}
.lead-body-ex {
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 100;
	text-align: center;
	margin-left: 10px;
	font-size: .9em;
	overflow: hidden;
	max-height: 100%;
	max-width: 100px;
}
.lead-age {
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 100;
	text-align: center;
	margin: 0px;
	font-size: 14px;
}
.lead-email {
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 200;
	font-size: 12px;
	text-align: center;
	margin: 0;
	max-height: 30px;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
	user-select: text;
}
.lead-info-expanded .lead-email {
	word-wrap: break-word;
}
.display-none {
	display: none;
}
a #lead-design:hover {
	text-decoration: none;
	color: #393A3C;
	cursor: pointer;
}
a #lead-design:active {
	text-decoration: none;
	color: #393A3C;
}
a #lead-design:link {
	text-decoration: none;
	color: #393A3C;
}
a #lead-design:visited {
	text-decoration: none;
	color: #393A3C;
}
.lead-signal-strength {
	width: 20px;
	heigth: 20px;
	align-content: center;
	margin-left: 110px;
	margin-top: -25px;
}
.center-lead-signal {
	width: 100%;
	align-content: center;
}
.black {
	background-color: rgba(0, 0, 0, .2)
}
a {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
div {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.lead-info-expanded {
	background-color: #f8f8f8;
	height: 100vh;
	position: fixed;
	right: 0;
	width: 155px;
	border-left: 1px solid #c5c5c5;
}
.profile-pic-expanded {
	width: 70px;
	height: 70px;
	border-radius: 100%;
	background-color: #f8f8f8;
	position: relative;
	left: 25px;
	top: 75px;
	background-image: url(http://newton.physics.uiowa.edu/~sbaalrud/empty_profile.gif);
	background-size: cover;
}
.shift-up {
	margin-top: -10px;
}
.icon {
	height: 20px;
	width: 20px;
	display: inline;
	align-content: center;
	position: relative;
	left: 30px;
	top: 5px;
}
.right-buffer {
	width: 50px;
	height: auto;
}
.social-media-ex {
	width: 100%;
	hieght: 300px;
	border-top: 1px solid #c5c5c5;
	position: relative;
	top: 15px;
}
.notes-ex {
	margin-left: 10px;
	cursor: pointer;
	height: 30px;
	position: relative;
	top: 7px;
}
.notes-ex:hover {
	background-color: #fff;
}
.twitter-topics-header {
	font-family: "Times New Roman", serif;
	font-size: .9em;
	color: #393A3C;
	margin-top: 20px;
}
.twitter-topics-text {
	color: #393A3C;
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 100;
}
.notesIcon {
	width: 15px;
	height: auto;
	margin-left: 22px;
	position: relative;
	top: 3px;
}
.notesHeader {
	font-size: .9em;
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 400;
	display: inline;
	position: relative;
	top: 5px;
}
.note-modal-body {
	height: 300px
}
.past-notes {
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #c5c5c5;
	align-content: center;
	margin: 0;
	padding-left: 2px;
}
.past-notes:hover {
	background-color: #e9e9e9;
}
.note-pic {
	width: 30px;
	height: 30px;
	position: relative;
	margin: 0;
	left: 1px;
	top: 5px;
	display: inline-block;
	border-radius: 100%;
}
.note-pic-p {
	font-size: .5em;
	font-family: "Helvetica Nueu", sans-serif;
	font-weight: 200;
	position: relative;
	margin: 0;
	left: 115px;
	top: -5px;
	display: inline-block;
}
.note-pic-sl {
	font-size: .7em;
	font-family: "Helvetica Nueu", sans-serif;
	font-weight: 400;
	position: relative;
	left: -50px;
	top: 5px;
	display: inline-block;
}
.side-bar {
	border-right: 1px solid #c5c5c5;
	height: 100%;
	padding: 0;
}
.note-taking-box {
	padding: 10px;
	max-height: 260px;
	max-width: 360px;
	min-height: 260px;
	min-width: 360px;
}
textarea {
	border: 0;
	resize: none;
}
textarea:focus {
	outline: 0;
}
.contain-text {
	max-width: 360px;
	max-height: 260px;
}
.lead-number-container {
	width: 875px;
	height: 194px;
	margin-left: -20px;
	background-color: #f8f8f8;
	border-bottom: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
}
.lead-number {
	color: #cd6562;
	font-size: 4em;
	font-weight: 100;
	font-family: "Helvetica Neue", sans-serif;
	padding: 31px 22px 70px 27px;
	display: inline-block;
}
.lead-number span {
	visibility: hidden;
}
.lead-number-name1 {
	font-family: "Avenir", serif;
	font-weight: 900;
	font-size: .3em;
	color: #393A3C;
	position: relative;
	vertical-align: middle;
	margin-left: 20%;
	margin-top: -15px;
}
.push-up-tr {
	margin-top: -100px;
}
#totalLeads {
	position: relative;
	left: 30px;
	top: -40px;
}
#totalEmails {
	position: relative;
	top: -40px;
	left: 30px;
}
#totalTwitter {
	position: relative;
	top: -40px;
	left: 30px
}
#totalLinkedin {
	position: relative;
	top: -40px;
	left: 30px;
}
.center-alert .alert .alert-danger .alert-dismissible button {
	margin-left: -30px;
}
.lead-number-container .alert {
	padding-right: 35px;
	margin-bottom: 20px;
}
.pf {
	margin-top: -20px;
	margin-left: 40px;
}
.sroq {
	color: #393A3C;
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	font-size: 1em;
	margin: -45px 0 0 15px;
}
.loader {
	position: fixed;
	z-index: 9999;
	align-self: center;
	left: 49vw;
	top: 40vh;

}
.loader-lm {
	position: fixed;
	z-index: 9999;
	align-self: center;
	left: 45vw;
	top: 45vh;

}
.loader-bkgd {
	background-color: rgba(220,133,130,.2);
	background-repeat: repeat;
	width: 100vw;
	height: 200vh;
	position: fixed;
	z-index: 9999;
}


