@import url(http://fonts.googleapis.com/css?family=Avenir:700,400, 100);
body {
	background-color: #667e9f;
	font-family: Avenir, helvetica, arial, sans-serif;
	font-weight: 400;
}
.green{
	background-color: #84c682;
}

.yay-logo {
	position: relative;
	top: 15vh;
	max-height: 40vh;
	height: 150px;
	left: 27%;
	z-index: 999;
	-moz-animation: swimming 5s linear alternate infinite;
	-webkit-animation: swimming 5s linear alternate infinite;
	animation: swimming 5s linear alternate infinite;
}

@keyframes swimming {
	0% {
		transform: translateY(0%);
	}
	20% {
		transform: translateY(2%);
	}
	50% {
		transform: translateY(3%);
	}
	80% {
		transform: translateY(2%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-moz-keyframes swimming {
	0% {
		-moz-transform: translateY(0%);
	}
	20% {
		-moz-transform: translateY(2%);
	}
	50% {
		-moz-transform: translateY(3%);
	}
	80% {
		-moz-transform: translateY(2%);
	}
	100% {
		-moz-transform: translateY(0%);
	}
}

@-webkit-keyframes swimming {
	0% {
		-webkit-transform: translateY(0%);
	}
	20% {
		-webkit-transform: translateY(2%);
	}
	50% {
		-webkit-transform: translateY(3%);
	}
	80% {
		-webkit-transform: translateY(2%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

.center-bracket {
	height: 80vh;
}

.success {
	color: #f8f8f8;
	position: relative;
	top: 23vh;
	font-weight: 700;
	text-align: center;
}

.success-subtitle {
	color: #f8f8f8;
	overflow: auto;
	position: relative;
	top: 23vh;
	font-weight: 100;
	text-align: center;
}

.subtitle-container {
	width: 100%;
}

.omg-help {
	color: #3b3b3b;
	font-size: .8em;
	position: relative;
	top: 30vh;
	text-align: center;
	text-decoration: underline;
}

.btn {
	border-radius: 0;
	border: none;
	position: fixed;
	bottom: 10%;
	right: 5%;
}

a>.btn:hover {
	cursor: pointer;
	background-color: #c5c5c5;
}
.black{
	background-color: #3b3b3b !important;
}
.step-2 {
	width: 7px;
	height: 7px;
	border-radius: 100%;
	background-color: #f8f8f8;
	position: fixed;
	bottom: 7%;
	right: 7.5%
}

.step-3 {
	width: 7px;
	height: 7px;
	border-radius: 100%;
	background-color: #f8f8f8;
	position: fixed;
	bottom: 7%;
	right: 6.25%
}

.step-4 {
	width: 7px;
	height: 7px;
	border-radius: 100%;
	background-color: #f8f8f8;
	position: fixed;
	bottom: 7%;
	right: 5%
}

@media screen and (max-width: 500px) {
	.step-1 {
		width: 7px;
		height: 7px;
		border-radius: 100%;
		background-color: #3b3b3b;
		position: fixed;
		bottom: 7%;
		right: 16.75%
	}
	.step-2 {
		width: 7px;
		height: 7px;
		border-radius: 100%;
		background-color: #f8f8f8;
		position: fixed;
		bottom: 7%;
		right: 13.5%
	}
	.step-3 {
		width: 7px;
		height: 7px;
		border-radius: 100%;
		background-color: #f8f8f8;
		position: fixed;
		bottom: 7%;
		right: 10.25%
	}
	.step-4 {
		width: 7px;
		height: 7px;
		border-radius: 100%;
		background-color: #f8f8f8;
		position: fixed;
		bottom: 7%;
		right: 7%
	}
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.btn-ok {
	background-color: #8195b1;
	color: #f8f8f8;
	position: relative;
	top: 23vh;
	left: 30%;
}

#uploadFile {
	position: relative;
	background-color: #8195b1;
	top: 20vh;
	left: 5%;
	text-align: center;
	border: none;
	color: #f8f8f8;
	height: 32px;
	width: 300px;
}

@-moz-keyframes light {
	0% {
		opacity: 0.2;
		-moz-transform: translate(4px, 0);
		transform: translate(4px, 0)
	}
	30% {
		opacity: 1
	}
	80% {
		opacity: 1
	}
	100% {
		opacity: 0.2;
		-moz-transform: translate(-4px, 0);
		transform: translate(-4px, 0)
	}
}

@-webkit-keyframes light {
	0% {
		opacity: 0.2;
		-webkit-transform: translate(4px, 0);
		transform: translate(4px, 0)
	}
	30% {
		opacity: 1
	}
	80% {
		opacity: 1
	}
	100% {
		opacity: 0.2;
		-webkit-transform: translate(-4px, 0);
		transform: translate(-4px, 0)
	}
}

@keyframes light {
	0% {
		opacity: 0.2;
		-moz-transform: translate(4px, 0);
		-ms-transform: translate(4px, 0);
		-webkit-transform: translate(4px, 0);
		transform: translate(4px, 0)
	}
	30% {
		opacity: 1
	}
	80% {
		opacity: 1
	}
	100% {
		opacity: 0.2;
		-moz-transform: translate(-4px, 0);
		-ms-transform: translate(-4px, 0);
		-webkit-transform: translate(-4px, 0);
		transform: translate(-4px, 0)
	}
}

.water {
	width: 100%;
	position: absolute;
	background-size: contain;
	background-position: -4vh 0vw;
	background-repeat: no-repeat;
	background-image: url('../img/c85e278a.LightRays2.png');
	-moz-animation: light 5s linear alternate infinite;
	-webkit-animation: light 5s linear alternate infinite;
	animation: light 5s linear alternate infinite;
	opacity: 0.2;
	height: 85%;
}

.water-alt {
	opacity: 0.2;
	background-image: url('../img/48026296.LightRays1.png');
	-moz-animation: light 5s linear 2.5s alternate infinite;
	-webkit-animation: light 5s linear 2.5s alternate infinite;
	animation: light 5s linear 2.5s alternate infinite;
}

.modal-heading {
	text-align: center;
	font-size: 1.5em;
}

.modal-subheading {
	text-align: center;
	font-size: 1.2em;
}
.success-heading{
	text-align: center;
	font-size: 4em;
}
.success-subheading{
	text-align: center;
	font-size: 1.5em;
}

.correctFormat {
	width: 100%;
}

#submitArrow {
	position: fixed;
	bottom: 17%;
	right: 5%;
}

.floating {
	animation-name: floating;
	-webkit-animation-name: floating;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(8%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);
	}
	50% {
		-webkit-transform: translateY(8%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

@-moz-keyframes floating {
	0% {
		-moz-transform: translateY(0%);
	}
	50% {
		-moz-transform: translateY(8%);
	}
	100% {
		-moz-transform: translateY(0%);
	}
}
@keyframes invalid {
	0% {
		transform: translateX(0%);
	}
	33% {
		transform: translateX(12%);
	}
	66% {
		transform: translateX(-12%);
	}
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes invalid {
	0% {
		-webkit-transform: translateX(0%);
	}
	33% {
		-webkit-transform: translateX(12%);
	}
	66% {
		-webkit-transform: translateX(-12%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}

@-moz-keyframes invalid {
	0% {
		-moz-transform: translateX(0%);
	}
	33% {
		-moz-transform: translateX(12%);
	}
	66% {
		-moz-transform: translateX(-12%);
	}
	100% {
		-moz-transform: translateX(0%);
	}
}
.invalidFile{
	color: #3b3b3b;
	position: relative;
	top: 20vh;
	font-weight: 700;
	left: 36.5%;
}
.email-table, tr, td{
	background-color: #bce5ba;
	width: 100%;
	padding: 10px;
	text-align: center;
}
.success-subheading>span{
	color: #bce5ba;
}