@import url(http://fonts.googleapis.com/css?family=Avenir:700,400, 100);
body {
	background-color: #ececec;
	font-family: Avenir, helvetica, arial, sans-serif;
	font-weight: 400;
	color: #3b3b3b;
}
.center-bracket {
	height: 100vh;
}
.inF{
	position: relative;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	background-color: #dc8582;
	top: 5vh;
	margin: 20px;
	text-align: center;
	border: none;
	color: #3b3b3b;
	height: 40px;
	font-size: 1.3em;
	width: 90%;
	outline: none;
	font-weight: 700;
}
.btn {
	border-radius: 0;
	border: none;
	position: fixed;
	bottom: 10%;
	right: 5%;

	font-weight: 700;
}
.signUpHeader{
	color: #3b3b3b;
	position: relative;
	font-weight: 700;
	text-align: center;
}
.success-subtitle {
	color: #3b3b3b;
	overflow: auto;
	position: relative;
	top: 3vh;
	font-weight: 100;
	text-align: center;
}
.black{
	background-color: #3b3b3b !important;
}
.step-2 {
	width: 7px;
	height: 7px;
	border-radius: 100%;
	background-color: #f8f8f8;
	position: fixed;
	bottom: 7%;
	right: 7.5%
}

.step-3 {
	width: 7px;
	height: 7px;
	border-radius: 100%;
	background-color: #f8f8f8;
	position: fixed;
	bottom: 7%;
	right: 6.25%
}

.step-4 {
	width: 7px;
	height: 7px;
	border-radius: 100%;
	background-color: #f8f8f8;
	position: fixed;
	bottom: 7%;
	right: 5%
}
.success-heading{
	position: absolute;
	left: 17%;
	font-size: 2em;
}
.center-heading{
	position:absolute;
	text-align: center;
}
.center{
	position: relative;
	top: 25%;
	left: 15%;
}
