html,
body,
.lp-pom-body {
	height: 100%
}

body.lp-pom-body.lp-sub-page {
	-webkit-transform: translateZ(0)
}

@media only screen and (max-width: 480px),
only screen and (max-device-width: 480px) {
	* {
		-webkit-text-size-adjust: 98%
	}
}

div.lp-pom-root {
	min-height: 100%;
	position: relative;
	top: 0px
}

div.lp-pom-root,
.cke-text {
	font-family: 'helvetica', 'arial', 'sans serif';
	font-size: 14px;
	line-height: 17px
}

.panel-content ub\:dynamic,
.cke-text ub\:dynamic {
	color: #555;
	padding: 2px 2px 2px 2px;
	cursor: pointer;
	border-radius: 3px;
	border: dotted 2px #00bff3;
	display: inline
}

.panel-content ub\:dynamic {
	background-color: #d7d7d7
}

.cke-text ub\:dynamic {
	color: inherit;
	text-decoration: inherit
}

.panel-content ub\:dynamic {
	margin-top: 2px;
	margin-bottom: 2px
}

.panel-content ub\:dynamic:hover,
.cke-text ub\:dynamic:hover {
	background: #d7d7d7;
	color: #636363
}

.panel-content ub\:dynamic:hover span,
.cke-text ub\:dynamic:hover span {
	background-position: -20px center
}

.panel-content ub\:dynamic span,
.cke-text ub\:dynamic span.dynamic-tag-close {
	color: #999;
	font-weight: normal;
	z-index: 99999;
	font-family: helvetica;
	width: 21px;
	cursor: pointer;
	background: url(/images/icons/close.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	padding-top: 3px;
	padding-bottom: 3px
}

.panel-content ub\:dynamic span img,
.cke-text ub\:dynamic span.dynamic-tag-close img {
	margin-top: auto;
	margin-bottom: auto;
	cursor: pointer !important
}

ub\:dynamic:hover span:hover {
	background-position: -45px center
}

.lp-positioned-content {
	position: absolute;
	left: 50%;
	top: 0px;
	height: 0px;
	z-index: 1
}

.lp-modal-screen {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(0, 0, 0, 0.5);
	z-index: 2
}

.lp-modal {
	overflow-y: auto
}

.lp-modal-content {
	position: absolute;
	left: 50%;
	height: 0px;
	z-index: 1
}

.lp-pom-block-content {
	position: relative;
	height: 100%
}

div.lp-pom-root .lp-pom-form-field {
	position: absolute;
	left: 0px;
	top: 0px;
	margin-bottom: 12px
}

div.lp-pom-root .lp-pom-form-field label {
	position: absolute;
	left: 0px;
	top: 0px
}

div.lp-pom-root .lp-pom-form-field select {
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 0;
	margin: 0;
	font-family: 'helvetica', 'arial', 'sans serif';
	border: 1px solid #666;
	vertical-align: center
}

div.lp-pom-root .lp-pom-form-field select option {
	padding: 0.2em
}

div.lp-pom-root .lp-pom-form-field textarea,
div.lp-pom-root .lp-pom-form-field input[type=text] {
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 0;
	margin: 0;
	border: 1px solid #666;
	font-family: 'helvetica', 'arial', 'sans serif'
}

div.lp-pom-root .lp-pom-form-field input[type=text]::-moz-focus-inner {
	padding: 0;
	border: none
}

div.lp-pom-root .lp-pom-form-field select::-moz-focus-inner {
	padding: 0;
	border: none
}

div.lp-pom-root .lp-pom-form-field .optionsList {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	padding: 0;
	margin: 0
}

div.lp-pom-root .lp-pom-form-field .option {
	position: relative;
	margin-bottom: 6px
}

div.lp-pom-root .lp-pom-form-field .option input {
	position: absolute
}

div.lp-pom-root .lp-pom-form-field .option label {
	position: relative;
	display: block
}

div.lp-pom-root .lp-pom-form input.submit {
	position: absolute;
	left: 0px;
	top: 0px
}

div.lp-pom-root .lp-pom-button {
	text-decoration: none;
	display: block;
	cursor: pointer
}

div.lp-pom-root .lp-pom-button.disabled {
	opacity: 0.6;
	pointer-events: none
}

div.lp-pom-root .lp-pom-button span {
	position: absolute;
	top: 50%;
	display: block;
	text-align: center;
	left: 0;
	right: 0;
	padding: 0 8px 0 8px;
	cursor: pointer
}

div.lp-pom-root .lp-pom-button {
	*background-image: url(/images/transparent.gif);
	_background-image: url(/images/transparent.gif);
	background-image: url(/images/transparent.gif) \0;
	background: rgba(0, 0, 0, 0)
}

div.lp-pom-root .lp-pom-text span {
	line-height: 0
}

div.lp-pom-root .lp-pom-text p,
.cke-text p {
	font-size: 14px;
	line-height: 17px
}

div.lp-pom-root .lp-pom-text.nlh p,
.cke-text.nlh p {
	font-size: 14px;
	line-height: 22px
}

div.lp-pom-root .lp-pom-text a,
.cke-text a {
	text-decoration: underline
}

div.lp-pom-root .lp-pom-text h1,
.cke-text h1 {
	font-size: 28px;
	margin-bottom: 19px;
	line-height: 34px
}

div.lp-pom-root .lp-pom-text h2,
.cke-text h2 {
	font-size: 21px;
	margin-bottom: 16px;
	line-height: 25px
}

div.lp-pom-root .lp-pom-text h3,
.cke-text h3 {
	font-size: 16px;
	margin-bottom: 15px;
	line-height: 19px
}

div.lp-pom-root .lp-pom-text h4,
.cke-text h4 {
	font-size: 14px;
	margin-bottom: 14px;
	line-height: 17px
}

div.lp-pom-root .lp-pom-text h5,
.cke-text h5 {
	font-size: 12px;
	margin-bottom: 13px;
	line-height: 14px
}

div.lp-pom-root .lp-pom-text h6,
.cke-text h6 {
	font-size: 10px;
	margin-bottom: 12px;
	line-height: 12px
}

div.lp-pom-root .lp-pom-text .lplh-8,
div.lp-pom-root .lp-pom-text.nlh .lplh-8,
.cke-text .lplh-8,
.cke-text.nlh .lplh-8 {
	line-height: 8px
}

div.lp-pom-root .lp-pom-text .lplh-9,
div.lp-pom-root .lp-pom-text.nlh .lplh-9,
.cke-text .lplh-9,
.cke-text.nlh .lplh-9 {
	line-height: 9px
}

div.lp-pom-root .lp-pom-text .lplh-10,
div.lp-pom-root .lp-pom-text.nlh .lplh-10,
.cke-text .lplh-10,
.cke-text.nlh .lplh-10 {
	line-height: 10px
}

div.lp-pom-root .lp-pom-text .lplh-11,
div.lp-pom-root .lp-pom-text.nlh .lplh-11,
.cke-text .lplh-11,
.cke-text.nlh .lplh-11 {
	line-height: 11px
}

div.lp-pom-root .lp-pom-text .lplh-12,
div.lp-pom-root .lp-pom-text.nlh .lplh-12,
.cke-text .lplh-12,
.cke-text.nlh .lplh-12 {
	line-height: 12px
}

div.lp-pom-root .lp-pom-text .lplh-13,
div.lp-pom-root .lp-pom-text.nlh .lplh-13,
.cke-text .lplh-13,
.cke-text.nlh .lplh-13 {
	line-height: 13px
}

div.lp-pom-root .lp-pom-text .lplh-14,
div.lp-pom-root .lp-pom-text.nlh .lplh-14,
.cke-text .lplh-14,
.cke-text.nlh .lplh-14 {
	line-height: 14px
}

div.lp-pom-root .lp-pom-text .lplh-15,
div.lp-pom-root .lp-pom-text.nlh .lplh-15,
.cke-text .lplh-15,
.cke-text.nlh .lplh-15 {
	line-height: 15px
}

div.lp-pom-root .lp-pom-text .lplh-16,
div.lp-pom-root .lp-pom-text.nlh .lplh-16,
.cke-text .lplh-16,
.cke-text.nlh .lplh-16 {
	line-height: 16px
}

div.lp-pom-root .lp-pom-text .lplh-17,
div.lp-pom-root .lp-pom-text.nlh .lplh-17,
.cke-text .lplh-17,
.cke-text.nlh .lplh-17 {
	line-height: 17px
}

div.lp-pom-root .lp-pom-text .lplh-18,
div.lp-pom-root .lp-pom-text.nlh .lplh-18,
.cke-text .lplh-18,
.cke-text.nlh .lplh-18 {
	line-height: 18px
}

div.lp-pom-root .lp-pom-text .lplh-19,
div.lp-pom-root .lp-pom-text.nlh .lplh-19,
.cke-text .lplh-19,
.cke-text.nlh .lplh-19 {
	line-height: 19px
}

div.lp-pom-root .lp-pom-text .lplh-20,
div.lp-pom-root .lp-pom-text.nlh .lplh-20,
.cke-text .lplh-20,
.cke-text.nlh .lplh-20 {
	line-height: 20px
}

div.lp-pom-root .lp-pom-text .lplh-22,
div.lp-pom-root .lp-pom-text.nlh .lplh-22,
.cke-text .lplh-22,
.cke-text.nlh .lplh-22 {
	line-height: 22px
}

div.lp-pom-root .lp-pom-text .lplh-24,
div.lp-pom-root .lp-pom-text.nlh .lplh-24,
.cke-text .lplh-24,
.cke-text.nlh .lplh-24 {
	line-height: 24px
}

div.lp-pom-root .lp-pom-text .lplh-26,
div.lp-pom-root .lp-pom-text.nlh .lplh-26,
.cke-text .lplh-26,
.cke-text.nlh .lplh-26 {
	line-height: 26px
}

div.lp-pom-root .lp-pom-text .lplh-29,
div.lp-pom-root .lp-pom-text.nlh .lplh-29,
.cke-text .lplh-29,
.cke-text.nlh .lplh-29 {
	line-height: 29px
}

div.lp-pom-root .lp-pom-text .lplh-31,
div.lp-pom-root .lp-pom-text.nlh .lplh-31,
.cke-text .lplh-31,
.cke-text.nlh .lplh-31 {
	line-height: 31px
}

div.lp-pom-root .lp-pom-text .lplh-32,
div.lp-pom-root .lp-pom-text.nlh .lplh-32,
.cke-text .lplh-32,
.cke-text.nlh .lplh-32 {
	line-height: 32px
}

div.lp-pom-root .lp-pom-text .lplh-34,
div.lp-pom-root .lp-pom-text.nlh .lplh-34,
.cke-text .lplh-34,
.cke-text.nlh .lplh-34 {
	line-height: 34px
}

div.lp-pom-root .lp-pom-text .lplh-35,
div.lp-pom-root .lp-pom-text.nlh .lplh-35,
.cke-text .lplh-35,
.cke-text.nlh .lplh-35 {
	line-height: 35px
}

div.lp-pom-root .lp-pom-text .lplh-38,
div.lp-pom-root .lp-pom-text.nlh .lplh-38,
.cke-text .lplh-38,
.cke-text.nlh .lplh-38 {
	line-height: 38px
}

div.lp-pom-root .lp-pom-text .lplh-40,
div.lp-pom-root .lp-pom-text.nlh .lplh-40,
.cke-text .lplh-40,
.cke-text.nlh .lplh-40 {
	line-height: 40px
}

div.lp-pom-root .lp-pom-text .lplh-42,
div.lp-pom-root .lp-pom-text.nlh .lplh-42,
.cke-text .lplh-42,
.cke-text.nlh .lplh-42 {
	line-height: 42px
}

div.lp-pom-root .lp-pom-text .lplh-43,
div.lp-pom-root .lp-pom-text.nlh .lplh-43,
.cke-text .lplh-43,
.cke-text.nlh .lplh-43 {
	line-height: 43px
}

div.lp-pom-root .lp-pom-text .lplh-45,
div.lp-pom-root .lp-pom-text.nlh .lplh-45,
.cke-text .lplh-45,
.cke-text.nlh .lplh-45 {
	line-height: 45px
}

div.lp-pom-root .lp-pom-text .lplh-58,
div.lp-pom-root .lp-pom-text.nlh .lplh-58,
.cke-text .lplh-58,
.cke-text.nlh .lplh-58 {
	line-height: 58px
}

div.lp-pom-root .lp-pom-text .lplh-77,
div.lp-pom-root .lp-pom-text.nlh .lplh-77,
.cke-text .lplh-77,
.cke-text.nlh .lplh-77 {
	line-height: 77px
}

div.lp-pom-root .lp-pom-text .lplh-86,
div.lp-pom-root .lp-pom-text.nlh .lplh-86,
.cke-text .lplh-86,
.cke-text.nlh .lplh-86 {
	line-height: 86px
}

div.lp-pom-root .lp-pom-text .lplh-87,
div.lp-pom-root .lp-pom-text.nlh .lplh-87,
.cke-text .lplh-87,
.cke-text.nlh .lplh-87 {
	line-height: 87px
}

div.lp-pom-root .lp-pom-text .lplh-115,
div.lp-pom-root .lp-pom-text.nlh .lplh-115,
.cke-text .lplh-115,
.cke-text.nlh .lplh-115 {
	line-height: 115px
}

div.lp-pom-root .lp-pom-text p,
.cke-text p,
div.lp-pom-root .lp-pom-text blockquote,
.cke-text blockquote,
div.lp-pom-root .lp-pom-text ul,
.cke-text ul,
div.lp-pom-root .lp-pom-text dl,
.cke-text dl {
	margin-bottom: 16px
}

div.lp-pom-root .lp-pom-text>p:last-child,
div.lp-pom-root .lp-pom-text>blockquote:last-child,
div.lp-pom-root .lp-pom-text>ul:last-child,
div.lp-pom-root .lp-pom-text>dl:last-child,
div.lp-pom-root .lp-pom-text>h1:last-child,
div.lp-pom-root .lp-pom-text>h2:last-child,
div.lp-pom-root .lp-pom-text>h3:last-child,
div.lp-pom-root .lp-pom-text>h4:last-child,
div.lp-pom-root .lp-pom-text>h5:last-child,
div.lp-pom-root .lp-pom-text>h6:last-child {
	margin-bottom: 0px
}

div.lp-pom-root .lp-pom-text h1,
.cke-text h1,
div.lp-pom-root .lp-pom-text h2,
.cke-text h2,
div.lp-pom-root .lp-pom-text h3,
.cke-text h3,
div.lp-pom-root .lp-pom-text h4,
.cke-text h4,
div.lp-pom-root .lp-pom-text h5,
.cke-text h5,
div.lp-pom-root .lp-pom-text h6,
.cke-text h6 {
	font-weight: bolder
}

div.lp-pom-root .lp-pom-text b,
.cke-text b,
div.lp-pom-root .lp-pom-text strong,
.cke-text strong {
	font-weight: bolder
}

div.lp-pom-root .lp-pom-text optgroup,
.cke-text optgroup {
	font-weight: normal
}

div.lp-pom-root .lp-pom-text abbr,
.cke-text abbr,
div.lp-pom-root .lp-pom-text acronym,
.cke-text acronym {
	border-bottom: 1px dotted #000;
	cursor: help
}

div.lp-pom-root .lp-pom-text em,
.cke-text em {
	font-style: italic
}

div.lp-pom-root .lp-pom-text del,
.cke-text del {
	text-decoration: line-through
}

div.lp-pom-root .lp-pom-text blockquote,
.cke-text blockquote,
div.lp-pom-root .lp-pom-text ul,
.cke-text ul,
div.lp-pom-root .lp-pom-text ol,
.cke-text ol,
div.lp-pom-root .lp-pom-text dl,
.cke-text dl {
	margin: 14px;
	font-size: 14px;
	line-height: 17px
}

div.lp-pom-root .lp-pom-text ul,
.cke-text ul {
	margin-left: 16px
}

div.lp-pom-root .lp-pom-text ol,
.cke-text ol {
	margin-left: 25px
}

div.lp-pom-root .lp-pom-text li,
.cke-text li {
	display: list-item
}

div.lp-pom-root .lp-pom-text ol li,
.cke-text ol li {
	list-style: decimal outside
}

div.lp-pom-root .lp-pom-text ul li,
.cke-text ul li {
	list-style: disc outside
}

div.lp-pom-root .lp-pom-text dl dd,
.cke-text dl dd {
	margin-left: 14px
}

div.lp-pom-root .lp-pom-text th,
.cke-text th,
div.lp-pom-root .lp-pom-text td,
.cke-text td {
	border: 1px solid #000;
	padding: 7px
}

div.lp-pom-root .lp-pom-text th,
.cke-text th {
	font-weight: bold;
	text-align: center
}

div.lp-pom-root .lp-pom-text caption,
.cke-text caption {
	margin-bottom: 7px;
	text-align: center
}

div.lp-pom-root .lp-pom-text sup,
.cke-text sup {
	vertical-align: super
}

div.lp-pom-root .lp-pom-text sub,
.cke-text sub {
	vertical-align: sub
}

#powered-by-spacer {
	height: 24px
}

#powered-by-unbounce {
	display: block !important;
	position: absolute !important;
	visibility: visible !important;
	text-indent: 0 !important;
	bottom: 0px !important;
	width: 100% !important;
	height: 28px !important;
	overflow: hidden !important;
	background: #0d0e0f !important;
	z-index: 2147483648 !important;
	text-align: center !important;
	font-size: 11px !important;
	color: #666 !important;
	font-weight: bold !important
}

div.lp-pom-root #powered-by-unbounce a {
	display: inline !important;
	position: static !important;
	visibility: visible !important;
	text-indent: 0 !important;
	z-index: 2147483648 !important;
	font-size: 11px !important;
	color: #fff !important;
	font-family: 'trebuchet ms' !important;
	font-weight: bold !important;
	line-height: 26px !important;
	color: #aaa !important
}

div.lp-pom-root #powered-by-unbounce a:hover {
	color: #fff !important
}

.lp-form-errors {
	position: absolute;
	display: none;
	z-index: 999999
}

.lp-form-errors div.content {
	border: 1px solid #661414;
	background-color: #ccc;
	font-family: 'helvetica', 'arial', 'verdana', 'san serif'
}

.lp-form-errors div.content div.error {
	background-color: #661414;
	padding: 8px;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	color: #f3d8d8
}

.lp-form-errors div.content ul {
	background-color: #f3d8d8;
	padding: 8px;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	color: #661414
}

.lp-form-errors div.content li {
	list-style: square;
	margin-left: 20px;
	margin-bottom: 8px
}

div.lp-pom-root .lp-element.lp-code {
	overflow: hidden
}

div.lp-pom-root .lp-pom-image {
	overflow: hidden
}

.lp-pom-root .lp-pom-image img {
	vertical-align: top
}

.lp-pom-social-widget .horizontal {
	margin-left: 0px;
	padding: 0px
}

.lp-pom-social-widget .horizontal .facebook_container {
	margin-left: 0px;
	overflow: hidden
}

.lp-pom-social-widget .widget {
	padding-right: 5px
}

.lp-pom-social-widget .fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
	display: none !important
}

.lp-pom-social-widget iframe.fb_ltr {
	display: none !important
}

.fb_edge_widget_with_comment span {
	width: 120px !important
}

.fb_recommend .fb_edge_widget_with_comment iframe {
	width: 97px !important
}

body.ms-windows .fb_recommend {
	overflow: hidden;
	width: 88px
}

body.ms-windows .fb_like {
	overflow: hidden;
	width: 48px !important
}

body.ms-windows .lp-editor .fb_recommend {
	overflow: hidden;
	width: 90px
}

body.ms-windows .lp-editor .fb_like {
	overflow: hidden;
	width: 50px !important
}

@-moz-document url-prefix() {
	body.ms-windows .fb_recommend {
		width: 86px !important
	}
	body.ms-windows .lp-editor .fb_recommend {
		width: 90px !important
	}
	body.ms-windows .lp-editor .fb_like {
		width: 50px !important
	}
}

.fb_like .fb_edge_widget_with_comment iframe {
	width: 50px !important
}

.lp-pom-social-widget .vertical {
	margin-left: 0px;
	vertical-align: top;
	overflow: hidden
}

.lp-pom-social-widget .horizontal.container {
	margin-right: 0px
}

.lp-pom-social-widget .horizontal.container {
	white-space: nowrap;
	display: inline-block;
	vertical-align: top
}

.lp-pom-social-widget .facebook_container.horizontal.container {
	margin: 0px
}

div.lp-social-widget-overlay {
	position: absolute;
	z-index: 9999;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #000000
}

@media only screen and (max-width: 600px) {
	#ubpoverlay-content {
		overflow: auto !important;
		-webkit-overflow-scrolling: touch !important
	}
}

body {
	color: #222222;
}

a {
	color: #cd6562;
	text-decoration: none;
}

#lp-pom-image-206-holder {
	background-image: url(/assets/quote-georgia.png);
	position: absolute;
	left: -1000000;
	visibility: none;
}

#lp-pom-image-209-holder {
	background-image: url(/assets/david.jpg);
	position: absolute;
	left: -1000000;
	visibility: none;
}

#lp-pom-image-383-holder {
	background-image: url(/assets/macbook-frame.png);
	position: absolute;
	left: -1000000;
	visibility: none;
}

#lp-pom-image-432-holder {
	background-image: url(/assets/lead-gen-page.jpg);
	position: absolute;
	left: -1000000;
	visibility: none;
}

#lp-pom-image-434-holder {
	background-image: url(/assets/signal-page.jpg);
	position: absolute;
	left: -1000000;
	visibility: none;
}

#lp-pom-image-436-holder {
	background-image: url(/assets/leads-found.jpg);
	position: absolute;
	left: -1000000;
	visibility: none;
}

#lp-pom-image-450-holder {
	background-image: url(/assets/white-arrow.png);
	position: absolute;
	left: -1000000;
	visibility: none;
}

#lp-pom-image-453-holder {
	background-image: url(/assets/tier5logo.png);
	position: absolute;
	left: -1000000;
	visibility: none;
}

#lp-pom-image-463-holder {
	background-image: url(/assets/best-value.png);
	position: absolute;
	left: -1000000;
	visibility: none;
}

#lp-pom-root {
	display: block;
	background: rgba(238, 238, 238, 1);
	-pie-background: rgba(238, 238, 238, 1);
	border-style: none;
	margin: auto;
	padding-left: auto;
	padding-right: auto;
	padding-top: 0px;
	min-width: 1138px;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-block-8 {
	display: block;
	background: rgba(255, 255, 255, 0.72);
	background-image: url(../assets/business-man-working.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	-pie-background: rgba(255, 255, 255, 0.72) url(../assets/business-man-working.jpg) no-repeat center top;
	border-style: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	width: 100%;
	height: 655px;
	position: relative;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-text-16 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 28px;
	top: 243px;
	z-index: 1;
	width: 921px;
	height: 177px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-button-31 {
	display: block;
	border-style: none;
	left: 28px;
	top: 453px;
	z-index: 2;
	width: 276px;
	height: 62px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 5px;
	background: rgba(205, 101, 98, 1);
	-pie-background: rgba(205, 101, 98, 1);
	color: #fff;
	border-width: undefinedpx;
	border-color: #undefined;
	font-size: 20px;
	line-height: 24px;
	font-weight: normal;
	font-family: Lato;
	text-align: center;
	background-repeat: no-repeat;
}

#lp-pom-text-45 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 28px;
	top: 216px;
	z-index: 3;
	width: 786px;
	height: 29px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-text-395 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 33px;
	top: 523px;
	z-index: 11;
	width: 266px;
	height: 38px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-image-450 {
	display: block;
	left: 311px;
	top: 419px;
	z-index: 45;
	position: absolute;
}

#lp-pom-image-453 {
	display: block;
	left: 24px;
	top: 17px;
	z-index: 46;
	position: absolute;
}

#lp-pom-button-457 {
	display: block;
	border-style: solid;
	left: 841px;
	top: 24px;
	z-index: 47;
	width: 90px;
	height: 22px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 5px;
	background: rgba(205, 101, 98, 0.16);
	-pie-background: rgba(205, 101, 98, 0.16);
	color: #fff;
	border-width: 1px;
	border-color: #cd6562;
	font-size: 10px;
	line-height: 12px;
	font-weight: normal;
	font-family: Open Sans;
	text-align: center;
	background-repeat: no-repeat;
}

#lp-pom-button-458 {
	display: block;
	border-style: solid;
	left: 953px;
	top: 24px;
	z-index: 48;
	width: 90px;
	height: 22px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 5px;
	background: rgba(205, 101, 98, 0.16);
	-pie-background: rgba(205, 101, 98, 0.16);
	color: #fff;
	border-width: 1px;
	border-color: #cd6562;
	font-size: 10px;
	line-height: 12px;
	font-weight: normal;
	font-family: Open Sans;
	text-align: center;
	background-repeat: no-repeat;
}

#lp-pom-text-460 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 72px;
	top: 24px;
	z-index: 49;
	width: 91px;
	height: 34px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-block-280 {
	display: block;
	background: rgba(255, 255, 255, 1);
	-pie-background: rgba(255, 255, 255, 1);
	border-style: none none none none;
	border-width: undefinedpx;
	border-color: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	width: 100%;
	height: 529px;
	position: relative;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-text-282 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 404px;
	top: 917px;
	z-index: 8;
	width: 330px;
	height: 22px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-text-397 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 404px;
	top: 952px;
	z-index: 12;
	width: 330px;
	height: 124px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-text-400 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 800px;
	top: 952px;
	z-index: 13;
	width: 330px;
	height: 116px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-text-401 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 800px;
	top: 917px;
	z-index: 14;
	width: 330px;
	height: 22px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-text-403 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 0px;
	top: 952px;
	z-index: 15;
	width: 330px;
	height: 116px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-text-404 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 0px;
	top: 917px;
	z-index: 16;
	width: 330px;
	height: 22px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-image-432 {
	display: block;
	left: 479px;
	top: 713px;
	z-index: 37;
	position: absolute;
}

#lp-pom-image-434 {
	display: block;
	left: 67px;
	top: 760px;
	z-index: 38;
	position: absolute;
}

#lp-pom-image-436 {
	display: block;
	left: 871px;
	top: 760px;
	z-index: 39;
	position: absolute;
}

#lp-pom-text-447 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 347px;
	top: 2333px;
	z-index: 44;
	width: 444px;
	height: 45px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-block-156 {
	display: block;
	background: rgba(26, 188, 156, 1);
	-pie-background: rgba(26, 188, 156, 1);
	border-style: none none none none;
	border-width: undefinedpx;
	border-color: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	width: 100%;
	height: 641px;
	position: relative;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-image-383 {
	display: block;
	left: 195px;
	top: 1332px;
	z-index: 9;
	position: absolute;
}

#lp-code-384 {
	display: block;
	border-style: none;
	left: 296px;
	top: 1356px;
	z-index: 10;
	width: 548px;
	height: 344px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-text-443 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 96px;
	top: 1248px;
	z-index: 41;
	width: 945px;
	height: 45px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-text-204 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 284px;
	top: 1899px;
	z-index: 4;
	width: 569px;
	height: 76px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-image-206 {
	display: block;
	left: 291px;
	top: 1899px;
	z-index: 5;
	position: absolute;
}

#lp-pom-image-209 {
	display: block;
	left: 352px;
	top: 1981px;
	z-index: 6;
	position: absolute;
}

#lp-pom-block-200 {
	display: block;
	background: rgba(255, 255, 255, 1);
	-pie-background: rgba(255, 255, 255, 1);
	border-style: none none none none;
	border-width: undefinedpx;
	border-color: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	width: 100%;
	height: 427px;
	position: relative;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-text-442 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 469px;
	top: 2006px;
	z-index: 40;
	width: 300px;
	height: 44px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-box-445 {
	display: block;
	background: rgba(255, 255, 255, 1);
	-pie-background: rgba(255, 255, 255, 1);
	border-style: solid none none none;
	border-width: 1px;
	border-color: #b9b9b9;
	left: 0px;
	top: 2138px;
	z-index: 42;
	width: 1138px;
	height: 26px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-block-407 {
	display: block;
	background: rgba(255, 255, 255, 1);
	-pie-background: rgba(255, 255, 255, 1);
	border-style: none;
	margin: auto;
	width: 100%;
	height: 657px;
	position: relative;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-box-408 {
	display: block;
	background: rgba(255, 255, 255, 1);
	-pie-background: rgba(255, 255, 255, 1);
	border-style: solid;
	border-width: 3px;
	border-color: #ebedee;
	left: 55px;
	top: 2455px;
	z-index: 17;
	width: 300px;
	height: 350px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 5px;
}

#lp-pom-box-415 {
	display: block;
	background: rgba(255, 255, 255, 1);
	-pie-background: rgba(255, 255, 255, 1);
	border-style: solid;
	border-width: 3px;
	border-color: #ebedee;
	left: 416px;
	top: 2455px;
	z-index: 23;
	width: 300px;
	height: 350px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 5px;
}

#lp-pom-box-421 {
	display: block;
	background: rgba(255, 255, 255, 1);
	-pie-background: rgba(255, 255, 255, 1);
	border-style: solid;
	border-width: 3px;
	border-color: #ebedee;
	left: 775px;
	top: 2455px;
	z-index: 30;
	width: 300px;
	height: 350px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 5px;
}

#lp-pom-text-430 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 303px;
	top: 2371px;
	z-index: 36;
	width: 531px;
	height: 22px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-text-233 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 349px;
	top: 2921px;
	z-index: 7;
	width: 440px;
	height: 26px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-block-232 {
	display: block;
	background: rgba(44, 62, 80, 1);
	-pie-background: rgba(44, 62, 80, 1);
	border-style: none;
	margin: auto;
	width: 100%;
	height: 49px;
	position: relative;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-box-409 {
	display: block;
	background: rgba(255, 255, 255, 1);
	-pie-background: rgba(255, 255, 255, 1);
	border-style: solid none none none;
	border-width: 3px;
	border-color: #ebedee;
	left: 0px;
	top: 86px;
	z-index: 18;
	width: 300px;
	height: 10px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-text-410 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 12px;
	top: 15px;
	z-index: 19;
	width: 275px;
	height: 25px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-text-411 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 12px;
	top: 50px;
	z-index: 20;
	width: 275px;
	height: 22px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-text-412 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 12px;
	top: 117px;
	z-index: 21;
	width: 275px;
	height: 140px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-box-416 {
	display: block;
	background: rgba(255, 255, 255, 1);
	-pie-background: rgba(255, 255, 255, 1);
	border-style: solid none none none;
	border-width: 3px;
	border-color: #ebedee;
	left: 0px;
	top: 86px;
	z-index: 24;
	width: 300px;
	height: 10px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-text-417 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 12px;
	top: 15px;
	z-index: 25;
	width: 275px;
	height: 25px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-text-418 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 12px;
	top: 50px;
	z-index: 26;
	width: 275px;
	height: 22px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-text-419 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 12px;
	top: 117px;
	z-index: 27;
	width: 275px;
	height: 140px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-button-420 {
	display: block;
	border-style: none;
	left: 60px;
	top: 277px;
	z-index: 28;
	width: 180px;
	height: 40px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 5px;
	background: rgba(26, 188, 156, 1);
	-pie-background: rgba(26, 188, 156, 1);
	color: #fff;
	border-width: undefinedpx;
	border-color: #undefined;
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
	font-family: Lato;
	text-align: center;
	background-repeat: no-repeat;
}

#lp-pom-box-422 {
	display: block;
	background: rgba(255, 255, 255, 1);
	-pie-background: rgba(255, 255, 255, 1);
	border-style: solid none none none;
	border-width: 3px;
	border-color: #ebedee;
	left: 0px;
	top: 86px;
	z-index: 31;
	width: 300px;
	height: 10px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-text-423 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 12px;
	top: 50px;
	z-index: 32;
	width: 275px;
	height: 22px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-text-424 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 12px;
	top: 117px;
	z-index: 33;
	width: 275px;
	height: 140px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-button-425 {
	display: block;
	border-style: none;
	left: 60px;
	top: 277px;
	z-index: 34;
	width: 180px;
	height: 40px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 5px;
	background: rgba(26, 188, 156, 1);
	-pie-background: rgba(26, 188, 156, 1);
	color: #fff;
	border-width: undefinedpx;
	border-color: #undefined;
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
	font-family: Lato;
	text-align: center;
	background-repeat: no-repeat;
}

#lp-pom-text-426 {
	display: block;
	background: rgba(255, 255, 255, 0);
	-pie-background: rgba(255, 255, 255, 0);
	border-style: none;
	left: 12px;
	top: 15px;
	z-index: 35;
	width: 275px;
	height: 25px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-text-444 {
	display: block;
	background: rgba(255, 255, 255, 1);
	-pie-background: rgba(255, 255, 255, 1);
	border-style: none;
	left: 454px;
	top: -10px;
	z-index: 43;
	width: 229px;
	height: undefinedpx;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-button-462 {
	display: block;
	border-style: none;
	left: 60px;
	top: 277px;
	z-index: 22;
	width: 180px;
	height: 40px;
	position: absolute;
	behavior: url(/PIE.htc);
	border-radius: 5px;
	background: rgba(26, 188, 156, 1);
	-pie-background: rgba(26, 188, 156, 1);
	color: #fff;
	border-width: undefinedpx;
	border-color: #undefined;
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
	font-family: Lato;
	text-align: center;
	background-repeat: no-repeat;
}

#lp-pom-image-463 {
	display: block;
	left: 227px;
	top: 40px;
	z-index: 29;
	position: absolute;
}

#lp-pom-root .lp-positioned-content {
	top: 0px;
	width: 1138px;
	margin-left: -569px;
}

#lp-pom-block-8 .lp-pom-block-content {
	margin-left: auto;
	margin-right: auto;
	width: 1138px;
	height: 655px;
}

#lp-pom-block-280 .lp-pom-block-content {
	margin-left: auto;
	margin-right: auto;
	width: 1138px;
	height: 529px;
}

#lp-pom-button-31:hover {
	background: rgba(195, 77, 74, 1);
	-pie-background: rgba(195, 77, 74, 1);
	color: #fff;
}

#lp-pom-button-31:active {
	background: rgba(185, 64, 62, 1);
	-pie-background: rgba(185, 64, 62, 1);
	color: #fff;
}

#lp-pom-button-31 .label {
	margin-top: -12px;
}

#lp-pom-block-156 .lp-pom-block-content {
	margin-left: auto;
	margin-right: auto;
	width: 1138px;
	height: 641px;
}

#lp-pom-image-206 .lp-pom-image-container {
	border-style: none;
	width: 31px;
	height: 25px;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-image-206 .lp-pom-image-container img {
	width: 31px;
	height: 25px;
}

#lp-pom-image-209 .lp-pom-image-container {
	border-style: none;
	width: 93px;
	height: 93px;
	behavior: url(/PIE.htc);
	border-radius: 47px;
}

#lp-pom-image-209 .lp-pom-image-container img {
	width: 93px;
	height: 93px;
}

#lp-pom-block-200 .lp-pom-block-content {
	margin-left: auto;
	margin-right: auto;
	width: 1138px;
	height: 427px;
}

#lp-pom-block-407 .lp-pom-block-content {
	margin-left: auto;
	margin-right: auto;
	width: 1138px;
	height: 657px;
}

#lp-pom-block-232 .lp-pom-block-content {
	margin-left: auto;
	margin-right: auto;
	width: 1138px;
	height: 49px;
}

#lp-pom-image-383 .lp-pom-image-container {
	border-style: none;
	width: 748px;
	height: 440px;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-image-383 .lp-pom-image-container img {
	width: 748px;
	height: 440px;
}

#lp-pom-button-420:hover {
	background: rgba(20, 179, 142, 1);
	-pie-background: rgba(20, 179, 142, 1);
	color: #fff;
}

#lp-pom-button-420:active {
	background: rgba(16, 169, 132, 1);
	-pie-background: rgba(16, 169, 132, 1);
	color: #fff;
}

#lp-pom-button-420 .label {
	margin-top: -7px;
}

#lp-pom-button-425:hover {
	background: rgba(20, 179, 142, 1);
	-pie-background: rgba(20, 179, 142, 1);
	color: #fff;
}

#lp-pom-button-425:active {
	background: rgba(16, 169, 132, 1);
	-pie-background: rgba(16, 169, 132, 1);
	color: #fff;
}

#lp-pom-button-425 .label {
	margin-top: -7px;
}

#lp-pom-image-432 .lp-pom-image-container {
	border-style: none;
	width: 207px;
	height: 165px;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-image-432 .lp-pom-image-container img {
	width: 207px;
	height: 165px;
}

#lp-pom-image-434 .lp-pom-image-container {
	border-style: solid;
	border-width: 4px;
	border-color: #ebebeb;
	width: 180px;
	height: 110px;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-image-434 .lp-pom-image-container img {
	width: 180px;
	height: 110px;
}

#lp-pom-image-436 .lp-pom-image-container {
	border-style: solid none solid solid;
	border-width: 4px;
	border-color: #ebebeb;
	width: 180px;
	height: 110px;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-image-436 .lp-pom-image-container img {
	width: 180px;
	height: 110px;
}

#lp-pom-image-450 .lp-pom-image-container {
	border-style: none;
	width: 40px;
	height: 66px;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-image-450 .lp-pom-image-container img {
	width: 40px;
	height: 66px;
}

#lp-pom-image-453 .lp-pom-image-container {
	border-style: none;
	width: 43px;
	height: 42px;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-image-453 .lp-pom-image-container img {
	width: 43px;
	height: 42px;
}

#lp-pom-button-457:hover {
	background: rgba(195, 77, 74, 1);
	-pie-background: rgba(195, 77, 74, 1);
	color: #fff;
}

#lp-pom-button-457:active {
	background: rgba(185, 64, 62, 0.16);
	-pie-background: rgba(185, 64, 62, 0.16);
	color: #fff;
}

#lp-pom-button-457 .label {
	margin-top: -6px;
}

#lp-pom-button-458:hover {
	background: rgba(195, 77, 74, 1);
	-pie-background: rgba(195, 77, 74, 1);
	color: #fff;
}

#lp-pom-button-458:active {
	background: rgba(185, 64, 62, 0.16);
	-pie-background: rgba(185, 64, 62, 0.16);
	color: #fff;
}

#lp-pom-button-458 .label {
	margin-top: -6px;
}

#lp-pom-button-462:hover {
	background: rgba(20, 179, 142, 1);
	-pie-background: rgba(20, 179, 142, 1);
	color: #fff;
}

#lp-pom-button-462:active {
	background: rgba(16, 169, 132, 1);
	-pie-background: rgba(16, 169, 132, 1);
	color: #fff;
}

#lp-pom-button-462 .label {
	margin-top: -7px;
}

#lp-pom-image-463 .lp-pom-image-container {
	border-style: none;
	width: 81px;
	height: 38px;
	behavior: url(/PIE.htc);
	border-radius: 0px;
}

#lp-pom-image-463 .lp-pom-image-container img {
	width: 81px;
	height: 38px;
}

h1 {
	font-style: normal;
	font-weight: 400;
	text-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
	text-rendering: optimizelegibility;
}
/*h1 shadow and weight end*/

h2,
h3,
h4,
h5,
h6 {
	text-rendering: optimizelegibility;
	font-style: normal;
}

p,
ul,
div.lp-pom-root .lp-pom-text.nlh p,
div.lp-pom-root .lp-pom-text.nlh ul {
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 23px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
/*button style and hover effect*/

a#lp-pom-button-31,
a#lp-pom-button-414,
a#lp-pom-button-420,
a#lp-pom-button-425 {
	font-style: normal;
	font-weight: 700;
	letter-spacing: 1px;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-box-shadow: 0 0px 0 #25a98d;
	-moz-box-shadow: 0 0px 0 #25a98d;
	-ms-box-shadow: 0 0px 0 #25a98d;
	-o-box-shadow: 0 0px 0 #25a98d;
	box-shadow: 0 0px 0 #25a98d;
	cursor: pointer;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-property: all;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: ease-out;
	-ms-transition-property: all;
	-ms-transition-duration: 0.3s;
	-ms-transition-timing-function: ease-out;
	-o-transition-property: all;
	-o-transition-duration: 0.3s;
	-o-transition-timing-function: ease-out;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}
/*button styles and hover effect end*/
/*full width image block*/

#lp-pom-block-8 {
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}
/*full width image block end*/

</style> <style> #lp-pom-button-454 {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #cd6562;
}

.lp-pom-button-454 {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #cd6562;
}