@import url(http://fonts.googleapis.com/css?family=Avenir:700,400);
body {
	background-color: #ececec;
	font-family: "Avenir", sans-serif;
	color:#3b3b3b;
}

.navigation {
	top: 0;
	height: 70px;
	max-hieght: 100px;
	background-color: white;
	width: 100%;
	position: fixed;
	border-bottom: 3px solid #cd6562;
	z-index: 99999;
}

.logo {
	font-size: 1.5em;
	position: relative;
	padding-top: 20px;
	padding-left: 50px;
}

.logo sub {
	font-size: .5em;
}

.inline {
	display: inline;
}

.nav-menu {
	position: relative;
	top: -30px;
	right: -60%;
	margin: -40px 10px 0 0;
	padding-top: 40px;
}

.nav-menu:nth-child(6) {
	font-size: 1.4em;
	color: #f8f8f8;
	font-weight: 700;
	margin: 0 20px;
}

.nav-menu:nth-child(7) {
	font-size: .7em;
	margin-left: -10px;
}

.icon {
	position: relative;
	height: 40px;
	width: auto;
	margin: 20px;
	opacity: 0;
}

.body-page {
	height: 85vh;
	max-height: 85vh;
	overflow: hidden;
	margin-top: 70px;
	width: 100%;
}

.big-logo {
	position: inherit;
	z-index: 9998;
	font-size: 5em;
	text-align: center;
	top: -65vh;
	height: 120%;
	background-color: #ececec;
	background-size: contain;
}

.big-logo h3 {
	font-weight: 100;
	position: inherit;
	top: -2vh;
}

.red-body {
	background-color: #cd6562;
	height: 110vh;
	margin-top: -130px;
	overflow: hidden;
	width: 100%;
}

.feature-body {
	background-color: #ececec;
	height: 120vh;
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
}

.about-header {
	color: #f5f5f5;
	font-size: 3em;
}

.about-text {
	position: relative;
	top: 35%;
	margin-left: 10%;
}

.about-body-text {
	color: #f5f5f5
}

.funnel-icon {
	position: relative;
	margin-top: 25%;
	margin-left: 15%;
}

.feature-img {
	background-size: contain;
}

.bkgrd-container {
	background-image: url(../img/design.jpeg);
	background-size: cover;
	background-position: 50% 39%;
	width: 100vw;
	height: 30%;
	overflow: hidden;
}

.bkgrd-container p {
	font-size: 3em;
	color: #f5f5f5;
	font-weight: 100;
	line-height: 1.1em;
	text-align-last: justify;
	position: relative;
	margin-top: 10%;
	margin-left: 10%;
	text-shadow: 1px 1px 0px #000;
}

.feature-sidebar {
	background-color: #3b3b3b;
	height: 70%;
}

.sidebar-menu li {
	width: 140%;
	padding: 15px 0 20px 40px;
	margin-left: -50px;
	margin-bottom: 10px;
	color: #f8f8f8;
	height: 50px;
}

.sidebar-menu li:hover {
	background-color: #cd6562;
	cursor: pointer;
}

.active {
	background-color: #cd6562;
}

.no-dec {
	list-style: none;
}

.feature-content {
	height: 70%;
}

.dashboard-header {
	font-size: 2em;
	margin-bottom: 0;
	font-weight: 400;
	width: 90%;
	margin-left: 5%;
	color: #959595;
	margin-top: 3%;
	border-bottom: 1px solid #959595;
}

.dashboard-header p {
	margin-bottom: -2%;
}

.datatable {
	width: 15vw;
	hieght: auto;
	margin-left: 3%;
	margin-top: 2%;
	border-bottom: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
}

.dataAction {
	height: 25vh;
	margin-top: 2%;
	width: auto;
	max-width: 17vw;
}

.person-box {
	position: relative;
}

.lead-name-subscriber {
	font-size: 2em;
	font-weight: 700;
	position: relative;
	top: 5px;
}

.lead-summary {
	font-size: 1.1em;
	font-weight: 500;
	margin-top: -7px;
	display: block;
	overflow-x: hidden;
	width: 600px;
}

.personal-span-value {
	margin-left: 3px;
	position: relative;
	top: -6px;
	left: 0px;
}

.personal-span-value a {
	color: #3b3b3b;
}

.personal-span-value a:hover {
	color: #cd6562;
}

.glyph-icon {
	position: relative;
	top: 2px;
	left: -15px;
	display: flex;
	flex-direction: row;
	color: #cd6562;
}

.pp-container-box {
	box-sizing: padding-box;
	background-color: #f8f8f8;
	border-bottom: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	height: 170px;
	width: 90%;
	position: relative;
	margin-top: 3%;
	margin-left: 5%;
	display: flex;
}

.lead-image-pp {
	height: 150px;
	width: 150px;
	position: relative;
	top: 10px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-image: url(https://scontent-iad.xx.fbcdn.net/hphotos-xta1/t31.0-8/1932726_10203465778118200_8709216767017945874_o.jpg);
}

.lead-image-pp-s {
	height: 150px;
	width: 150px;
	position: relative;
	top: 10px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-image: url(https://scontent-iad.xx.fbcdn.net/hphotos-xpf1/t31.0-8/10838091_10203644671780977_3487278432469921167_o.jpg);
}

.subscriber-details {
	border-left: 1px solid #c5c5c5;
	height: 170px;
	position: relative;
	left: 160px;
	top: -150px;
}

.personal-data {
	line-height: 8px;
	width: auto;
}

.social-data {
	line-height: 8px;
}

.lead-image {
	position: relative;
	left: -8px;
}

.influencer-card {
	background-color: #f8f8f8;
	border-bottom: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	margin: 3% 0 0 3%;
	height: 300px;
}

.profile-btn {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	margin: 0 10px;
}

.inf-photo-btn {
	margin: 5px 0;
	width: 100%;
	align-content: stretch;
}

.col-4 {
	float: left;
	width: 291px;
}

.main-inf-body-card {
	width: 125px;
	background-color: white;
	height: 299px;
	float: right;
}

.prof-circle-inf {
	width: 100;
	height: 100px;
	position: relative;
	bottom: 324px;
	top: 26px;
	left: 95px;
	right: 248px;
	border: 3px solid #3b3b3b;
	border-radius: 100%;
}

.info-bubble {
	width: 200px;
	height: 50px;
	background-color: #3b3b3b;
	color: #f8f8f8;
	position: relative;
	right: 248px;
	left: 45px;
	top: 20px;
	padding: 7px;
	text-align: center;
}

.info-bubble span {
	font-weight: 600;
	font-family: "Garamond", serif;
	text-transform: uppercase;
}

.caret {
	position: relative;
	right: 248px;
	left: 140px;
	top: 20px;
	margin-bottom: -13px;
}

.bottom-links {
	width: 290px;
	height: 65px;
	position: relative;
	top: 66px;
	border-top: #c5c5c5 1px solid;
	padding-top: 6px;
}

.link-boxes {
	border-right: 1px solid #c5c5c5;
	height: 44px;
	width: 73px;
	padding: 5px;
}

.center-glyph {
	position: relative;
	left: 25px;
	top: 0px;
}

.link-card-text {
	font-size: .8em;
	position: relative;
	text-align: center;
}

.link-box-right {
	height: 44px;
	width: 73px;
	padding: 5px;
}

.color-replacer {
	color: #cd6562;
}

.top-influencers {
	font-family: "Dancing Script", script;
	font-size: 4em;
	font-weight: 400;
	text-align: center;
	margin-top: 0;
	margin-left: -60px;
}

.sub-card {
	margin: 3% 0 0 3%;
	width: 180px;
	height: auto;
}

.sub-card-container {
	width: 90%;
	overflow-x: hidden;
}

.email-trash-container {
	width: 90%;
	overflow-x: hidden;
	padding-top: 3%;
	padding-left: 3%;
	overflow: visible;
}

.good-email {
	font-size: 1.3em;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
	-ms-transition: all 1s linear;
	transition: all 1s linear;
}

.bad-email {
	color: #cd6562;
	font-size: 1.3em;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
	-ms-transition: all 1s linear;
	transition: all 1s linear;
	position: relative;
}

.e2 {
	position: relative;
}

.e1 {
	position: relative;
}

.e3 {
	position: relative;
}

.e4 {
	position: relative;
}

.subscriber-list-header {
	color: #959595;
	font-size: 1.5em;
}

.g1 {
	position: relative;
}

.g2 {
	position: relative;
}

.g3 {
	position: relative;
}

.g4 {
	position: relative;
}

.success-icon {
	position: relative;
	height: 130px;
	width: auto;
	left: 44%;
	top: -300px;
	opacity: 0;
}

.success-header {
	color: #aec79f;
	font-size: 2em;
	position: relative;
	left: 43.5%;
	top: -320px;
	opacity: 0;
}

.trash-card {
	height: 400px;
	width: 100%;
	padding-top: 3%;
	padding-left: 20%;
	margin-right: 40px;
	background-color: #f8f8f8;
	border-bottom: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
}

.pricing-body {
	background-color: #ececec;
	height: 120vh;
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
}

.bkgrd-pricing-container {
	background-image: url(../img/legionAnalyticsPricing.jpg);
	background-size: cover;
	background-position: 50% 39%;
	width: 100vw;
	height: 30%;
	overflow: hidden;
}

.bkgrd-pricing-container p {
	font-size: 3em;
	color: #f5f5f5;
	font-weight: 100;
	line-height: 1.1em;
	text-align-last: justify;
	position: relative;
	margin-top: 10%;
	margin-left: 10%;
	text-shadow: 1px 1px 0px #000;
}

.footer {
	background-color: #3b3b3b;
	height: 30vh;
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
}

a:hover {
	color: #cd6562;
}

a {
	color: #3b3b3b;
}

.footer-list a {
	color: #f8f8f8;
}

.pricing-card {
	position: relative;
	margin-top: 30px;
	left: 86%;
	background-color: #f8f8f8;
	height: 400px;
	width: 300px;
	border-bottom: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	display: inline-block;
	margin-right: 20px;
}

.pricing-header {
	position: relative;
	width: 300px;
	height: 60px;
	top: 0;
	margin-top: 0;
	background-color: #667e9f;
	color: #f8f8f8;
}

.pricing-header h2 {
	position: relative;
	left: 30%;
	top: 25%;
	margin-top: 0;
}

.last-signup {
	width: 620px;
	position: relative;
	left: 23.5%;
	top: 20px;
	font-weight: 400;
	font-kerning: normal;
	font-size: 2.5em;
}

.footer-list {
	list-style: none;
	color: #f8f8f8;
	font-size: 1em;
	line-height: 2em;
	margin-top: 30px;
}

.disclaimer {
	color: #f8f8f8;
	position: relative;
	bottom: -50px;
	left: 35%;
	font-size: .8em;
}

.csv-upload-container {
	position: absolute;
	margin-top: -65vh;
	margin-left: 5%;
	width: 250px;
	height: 100px;
	border: 3px dashed #3b3b3b;
	color: #3b3b3b;
	font-weight: 400;
	font-size: 1.3em;
	padding: 5% 2%;
	text-align: center;
	opacity: 1;
}

.drop-email {
	position: absolute;
	margin-top: -50vh;
	margin-left: 65%;
	height: 75px;
	width: auto;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
	-ms-transition: all 1s linear;
	transition: all 1s linear;
}

.drop-subscriber {
	position: absolute;
	left: 10%;
	margin-top: -48vh;
	height: 120px;
	width: auto;
	opacity: 0;
}

.s2 {
	position: absolute;
	left: 35%;
}

.s3 {
	position: absolute;
	left: 60%;
}

.popular-groups {
	position: absolute;
	margin-top: -28vh;
	left: 10%;
	font-weight: 400;
	color: #3b3b3b;
	opacity: 0;
}

.pop-list {
	position: absolute;
	margin-top: -25vh;
	left: 10%;
	font-weight: 400;
	color: #3b3b3b;
	opacity: 0;
}
/*Start Spinner*/

.spinner {
	top: -45vh;
	margin-left: 25%;
	width: 12px;
	height: 12px;
	position: relative;
	opacity: 0;
}

.cube1,
.cube2 {
	background-color: #3b3b3b;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: cubemove 1.8s infinite ease-in-out;
	animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
	25% {
		-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
	}
	50% {
		-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
	}
	75% {
		-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
	}
	100% {
		-webkit-transform: rotate(-360deg)
	}
}

@keyframes cubemove {
	25% {
		transform: translateX(42px) rotate(-90deg) scale(0.5);
		-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
	}
	50% {
		transform: translateX(42px) translateY(42px) rotate(-179deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
	}
	50.1% {
		transform: translateX(42px) translateY(42px) rotate(-180deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
	}
	75% {
		transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	}
	100% {
		transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
	}
}
/*end spinner*/

.list-csv {
	position: relative;
	margin-top: -20%;
	opacity: 0;
	font-weight: 700;
}

.more-sub {
	position: absolute;
	left: 67%;
	margin-top: -28vh;
	font-size: .8em;
	color: #3b3b3b;
	opacity: 0;
}
/*Notice me*/

.notice-me {
	width: 40px;
	height: 40px;
	margin: -17% 0 0 70%;
	background-color: #f8f8f8;
	border-radius: 100%;
	-webkit-animation: scaleout 1.0s infinite ease-in-out;
	animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
	0% {
		-webkit-transform: scale(0.0)
	}
	100% {
		-webkit-transform: scale(1.0);
		opacity: 0;
	}
}

@keyframes scaleout {
	0% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	100% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
		opacity: 0;
	}
}
/*End notice me*/

#sign-up-form {
	position: fixed;
	left: 35%;
	top: 15%;
	z-index: 99999;
	display: none;
}

#close-sign-up {
	padding-right: 10px;
	padding-top: 10px;
	color: #3b3b3b;
}

.signup-label {
	color: #959595;
}

.center-form {
	position: absolute;
	top: 35%;
	left: 20%;
}

.signup-fields {
	margin: 0 20px;
	height: 50px;
	width: auto;
	background-color: #f8f8f8;
	padding: 20px;
	font-weight: 700;
	text-align: center;
	color: #cd6562;
	border-top: none;
	border-left: none;
	border-right: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
}

input:focus {
	outline: none;
}

.signup-user {
	margin-right: -50px;
	color: #3b3b3b;
}

.signup-circle {
	margin-right: -50px;
}

.submit-button {
	width: 60%;
	height: 30px;
	position: relative;
	top: 20px;
	left: 8%;
	font-weight: 700;
	background-color: #cd6562;
	border: none;
}
/*Sign Up form*/


.testbox body,
.testbox input,
.testbox textarea,
.testbox select {
	font-family: 'Avenir', sans-serif;
	font-size: 16px;
	color: #3b3b3b;
}

.testbox p {
	font-size: 12px;
	width: 150px;
	display: inline-block;
	margin-left: 18px;
}

.testbox h1 {
	font-size: 32px;
	font-weight: 300;
	color: #3b3b3b;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 10px;
}

.testbox html {
	background-color: #f8f8f8;
}

.testbox {
	margin: 20px auto;
	width: 343px;
	height: 464px;
	background-color: #ececec;
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
	-moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
	border-right: solid 1px #c5c5c5;
	border-bottom: solid 1px #c5c5c5;
}

input[type=radio] {
	visibility: hidden;
}

form {
	margin: 0 30px;
}

label.radio {
	cursor: pointer;
	text-indent: 25px;
	overflow: visible;
	display: inline-block;
	position: relative;
	margin-bottom: 15px;
}

label.radio:before {
	background: #cd6562;
	content: '';
	position: absolute;
	top: 2px;
	left: 0px;
	width: 20px;
	height: 20px;
	border-radius: 100%;
}

label.radio:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: .75em;
	height: 0.4em;
	background: transparent;
	top: 7.5px;
	left: 4.5px;
	border: 3px solid #ffffff;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

input[type=radio]:checked + label:after {
	opacity: 1;
}

input[type=text],
input[type=url],
input[type=email],
input[type=password] {
	width: 200px;
	height: 39px;
	background-color: #fff;
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	-moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	border-right: solid 1px #c5c5c5;
	border-top:none;
	border-left: none;
	border-bottom: solid 1px #c5c5c5;
	margin-left: -5px;
	margin-top: 13px;
	padding-left: 10px;
}

input[type=password] {
	margin-bottom: 25px;
}

.testbox #icon {
	display: inline-block;
	width: 50px;
	background-color: #cd6562;
	padding: 8px 0px 8px 20px;
	margin-left: 15px;
	-webkit-border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
	color: white;
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	-moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	border: solid 0px #c5c5c5;
}

.gender {
	margin-left: 30px;
	margin-bottom: 30px;
	margin-top: -20px;
}

.accounttype {
	margin-left: 8px;
	margin-top: 20px;
}

.testbox a.button {
	font-size: 14px;
	font-weight: 600;
	color: white;
	padding: 6px 25px 0px 20px;
	margin: 0px 8px 20px 0px;
	display: inline-block;
	float: right;
	text-decoration: none;
	width: 100px;
	height: 27px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #cd6562;
	-webkit-box-shadow: 0 3px rgba(205, 101, 98, .75);
	-moz-box-shadow: 0 3px rgba(205, 101, 98, .75);
	box-shadow: 0 3px rgba(205, 101, 98, .75);
	transition: all 0.1s linear 0s;
	top: -35px;
	position: relative;
}

.testbox a.button:hover {
	top: -33px;
	background-color: #dc8582;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.mobile{
	display: none;
}
.btn-default{
	background-color: #ececec;
	
}
@media screen and (max-width: 800px) {
	.logo{
		position: relative;
		left: 12%;
	}
    .col-sm-5 table,#center-sign-up, .pop-list, .spinner, .drop-email, .csv-upload-container, .nav-menu, .feature-sidebar, .last-signup, .pricing-card{
		display: none;
	}
	.mobile{
		font-weight: 100;
		display: inherit;
		color: #cd6562;
	}
	.datatable {
		width: auto;
		height: 20vh;
		margin-left: 3%;
		margin-top: 10%;
		border-bottom: 1px solid #c5c5c5;
		border-right: 1px solid #c5c5c5;
	}
	.dataAction {
		display: none;
	}
	.dashboard-header {
		font-size: 1.4em;
		margin-bottom: -10%;
		font-weight: 400;
		width: 90%;
		margin-left: 5%;
		color: #959595;
		margin-top: 5%;
		border-bottom: 0px solid #959595;
	}
	.bkgrd-pricing-container .col-sm-4 p{
		color: #f8f8f8;
		font-weight: 600;
		position: relative;
		top: 40%;
	}
	#free-price{
		display: block;
		position: relative;
		left: 15%;
	}
	.disclaimer{
		position:relative;
		left: 15%;
	}
}

input.btn.btn-md.btn-register {
 background-color: #cd6562 ;
 color: #f8f8f8 ;
 position: absolute;
 bottom: 5%;
 right: 15%;
}

